<div class='progress-msg'>Mon, 29 Jan 2018 18:55:10 +0000</div>
<div class="progress-msg">[18:55:10] Compondo títulos...</div>
<div class="progress-msg">[18:55:10] Compondo resumo...</div>
<div class="progress-msg">[18:55:10] Compondo autores...</div>
<div class="progress-msg">[18:55:10] Compondo slugs...</div>
<div class="progress-msg">[18:55:10] Compondo ordem de menu...</div>
<div class="progress-msg">[18:55:10] Compondo conteúdos...</div>
<div class="progress-msg">[18:55:10] Compondo datas...</div>
<div class="progress-msg">[18:55:10] Compondo termos para `Categorias` taxonomia...</div>
<div class="progress-msg">[18:55:10] Compondo termos para `Tags` taxonomia...</div>
<div class="progress-msg">[18:55:10] Composing URLs for imagens...</div>
<div class="progress-msg">[18:55:10] Compondo URLs para arquivos de anexos ...</div>
<div class="progress-msg">[18:55:10] Compondo chaves únicas...</div>
<div class="progress-msg">[18:55:10] Processando posts...</div>
<div class="progress-msg">[18:55:10] Análise de dados via add-ons ...</div>
<div class="progress-msg">[18:55:10] ---</div>
<div class="progress-msg">[18:55:10] Registros #1</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class="progress-msg">[18:55:10] <b>AVISO:</b>título em branco.</div>
<div class="progress-msg">[18:55:10] Combinar todos os dados para o post  ...</div>
<div class="progress-msg">[18:55:10] Encontre o artigo correspondente entre os importados anteriormente para o post ``...</div>
<div class="progress-msg">[18:55:10] A postagem duplicada não foi encontrada com a chave exclusiva `- 364 - http://www.naclick.com.br/wp-content/uploads/2017/10/roteador-wireless-TP-Link-TL-WR740N.jpg|http://www.naclick.com.br/wp-content/uploads/2017/10/password-tp-link-tl-wr740n.png|http://www.naclick.com.br/wp-content/uploads/2017/10/seguranca-do-wireless-tp-link-tl-wr740n.png|http://www.naclick.com.br/wp-content/uploads/2017/10/nome-rede-tp-link-tl-wr740n.png|http://www.naclick.com.br/wp-content/uploads/2017/10/caixas-de-selecao-tp-link-tl-wr740n.png|http://www.naclick.com.br/wp-content/uploads/2017/10/menu-wireless-tp-link-tl-wr740n.png|http://www.naclick.com.br/wp-content/uploads/2017/10/painel-tp-link-tl-wr740n.png`...</div>
<div class="progress-msg">[18:55:10] Aplicando filtros `pmxi_article_data` para ``</div>
<div class="progress-msg">[18:55:10] <b>CRIANDO</b> `` `Post`</div>
<div class="progress-msg">[18:55:10] <b>ERRO</b>: O conteúdo, o título e o resumo estão vazios.</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class="progress-msg">[18:55:10] ---</div>
<div class="progress-msg">[18:55:10] Registros #2</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class="progress-msg">[18:55:10] <b>AVISO:</b>título em branco.</div>
<div class="progress-msg">[18:55:10] Combinar todos os dados para o post  ...</div>
<div class="progress-msg">[18:55:10] Encontre o artigo correspondente entre os importados anteriormente para o post ``...</div>
<div class="progress-msg">[18:55:10] A postagem duplicada não foi encontrada com a chave exclusiva `- 373 - http://www.naclick.com.br/wp-content/uploads/2017/11/roteador-wireless-TP-Link-TL-WR849N.jpg|http://www.naclick.com.br/wp-content/uploads/2017/11/exemplo-wpa2-TP-Link-TL-WR849N.png|http://www.naclick.com.br/wp-content/uploads/2017/11/local-senha-wireless-TP-Link-TL-WR849N.png|http://www.naclick.com.br/wp-content/uploads/2017/11/seguranca-wireless-TP-Link-TL-WR849N.png|http://www.naclick.com.br/wp-content/uploads/2017/11/salvar-wireless-TP-Link-TL-WR849N.png|http://www.naclick.com.br/wp-content/uploads/2017/11/habilitar-wireless-TP-Link-TL-WR849N.png|http://www.naclick.com.br/wp-content/uploads/2017/11/configuracao-wireless-TP-Link-TL-WR849N.png|http://www.naclick.com.br/wp-content/uploads/2017/11/botao-salvar-roteador-TP-Link-TL-WR849N.png|http://www.naclick.com.br/wp-content/uploads/2017/11/conexao-secundaria-TP-Link-TL-WR849N.png|http://www.naclick.com.br/wp-content/uploads/2017/11/sugestao-de-senha-pppoe-TP-Link-TL-WR849N.png|http://www.naclick.com.br/wp-content/uploads/2017/11/painel-rede-TP-Link-TL-WR849N.png|http://www.naclick.com.br/wp-content/uploads/2017/11/acesso-painel-TP-Link-TL-WR849N.png`...</div>
<div class="progress-msg">[18:55:10] Aplicando filtros `pmxi_article_data` para ``</div>
<div class="progress-msg">[18:55:10] <b>CRIANDO</b> `` `Post`</div>
<div class="progress-msg">[18:55:10] <b>ERRO</b>: O conteúdo, o título e o resumo estão vazios.</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class="progress-msg">[18:55:10] ---</div>
<div class="progress-msg">[18:55:10] Registros #3</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class="progress-msg">[18:55:10] <b>AVISO:</b>título em branco.</div>
<div class="progress-msg">[18:55:10] Combinar todos os dados para o post  ...</div>
<div class="progress-msg">[18:55:10] Encontre o artigo correspondente entre os importados anteriormente para o post ``...</div>
<div class="progress-msg">[18:55:10] A postagem duplicada não foi encontrada com a chave exclusiva `- 401 - http://www.naclick.com.br/wp-content/uploads/2017/11/Click-Telecom-recebendo-premiação-no-Mérito-Empresarial-CDL-2017-capa.jpg|http://www.naclick.com.br/wp-content/uploads/2017/11/Click-Telecom-recebendo-premiação-no-Mérito-Empresarial-CDL-2017.jpg`...</div>
<div class="progress-msg">[18:55:10] Aplicando filtros `pmxi_article_data` para ``</div>
<div class="progress-msg">[18:55:10] <b>CRIANDO</b> `` `Post`</div>
<div class="progress-msg">[18:55:10] <b>ERRO</b>: O conteúdo, o título e o resumo estão vazios.</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class="progress-msg">[18:55:10] ---</div>
<div class="progress-msg">[18:55:10] Registros #4</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class="progress-msg">[18:55:10] <b>AVISO:</b>título em branco.</div>
<div class="progress-msg">[18:55:10] Combinar todos os dados para o post  ...</div>
<div class="progress-msg">[18:55:10] Encontre o artigo correspondente entre os importados anteriormente para o post ``...</div>
<div class="progress-msg">[18:55:10] A postagem duplicada não foi encontrada com a chave exclusiva `- 406 - http://www.naclick.com.br/wp-content/uploads/2017/11/capa-parceria-creche-vovo-sinha.jpg|http://www.naclick.com.br/wp-content/uploads/2017/11/creche-vovó-sinhá-e-click-telecom-parceria.jpg`...</div>
<div class="progress-msg">[18:55:10] Aplicando filtros `pmxi_article_data` para ``</div>
<div class="progress-msg">[18:55:10] <b>CRIANDO</b> `` `Post`</div>
<div class="progress-msg">[18:55:10] <b>ERRO</b>: O conteúdo, o título e o resumo estão vazios.</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class="progress-msg">[18:55:10] ---</div>
<div class="progress-msg">[18:55:10] Registros #5</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class="progress-msg">[18:55:10] <b>AVISO:</b>título em branco.</div>
<div class="progress-msg">[18:55:10] Combinar todos os dados para o post  ...</div>
<div class="progress-msg">[18:55:10] Encontre o artigo correspondente entre os importados anteriormente para o post ``...</div>
<div class="progress-msg">[18:55:10] A postagem duplicada não foi encontrada com a chave exclusiva `- 414 - http://www.naclick.com.br/wp-content/uploads/2018/01/internet-para-empresas-click.jpg`...</div>
<div class="progress-msg">[18:55:10] Aplicando filtros `pmxi_article_data` para ``</div>
<div class="progress-msg">[18:55:10] <b>CRIANDO</b> `` `Post`</div>
<div class="progress-msg">[18:55:10] <b>ERRO</b>: O conteúdo, o título e o resumo estão vazios.</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class="progress-msg">[18:55:10] ---</div>
<div class="progress-msg">[18:55:10] Registros #6</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class="progress-msg">[18:55:10] <b>AVISO:</b>título em branco.</div>
<div class="progress-msg">[18:55:10] Combinar todos os dados para o post  ...</div>
<div class="progress-msg">[18:55:10] Encontre o artigo correspondente entre os importados anteriormente para o post ``...</div>
<div class="progress-msg">[18:55:10] A postagem duplicada não foi encontrada com a chave exclusiva `- 417 - http://www.naclick.com.br/wp-content/uploads/2018/01/como-minerar-bitcoin-click.jpg`...</div>
<div class="progress-msg">[18:55:10] Aplicando filtros `pmxi_article_data` para ``</div>
<div class="progress-msg">[18:55:10] <b>CRIANDO</b> `` `Post`</div>
<div class="progress-msg">[18:55:10] <b>ERRO</b>: O conteúdo, o título e o resumo estão vazios.</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class="progress-msg">[18:55:10] ---</div>
<div class="progress-msg">[18:55:10] Registros #7</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class="progress-msg">[18:55:10] <b>AVISO:</b>título em branco.</div>
<div class="progress-msg">[18:55:10] Combinar todos os dados para o post  ...</div>
<div class="progress-msg">[18:55:10] Encontre o artigo correspondente entre os importados anteriormente para o post ``...</div>
<div class="progress-msg">[18:55:10] A postagem duplicada não foi encontrada com a chave exclusiva `- 419 - http://www.naclick.com.br/wp-content/uploads/2018/01/o-que-fazer-internet-lenta-click.jpg`...</div>
<div class="progress-msg">[18:55:10] Aplicando filtros `pmxi_article_data` para ``</div>
<div class="progress-msg">[18:55:10] <b>CRIANDO</b> `` `Post`</div>
<div class="progress-msg">[18:55:10] <b>ERRO</b>: O conteúdo, o título e o resumo estão vazios.</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class="progress-msg">[18:55:10] ---</div>
<div class="progress-msg">[18:55:10] Registros #8</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class="progress-msg">[18:55:10] <b>AVISO:</b>título em branco.</div>
<div class="progress-msg">[18:55:10] Combinar todos os dados para o post  ...</div>
<div class="progress-msg">[18:55:10] Encontre o artigo correspondente entre os importados anteriormente para o post ``...</div>
<div class="progress-msg">[18:55:10] A postagem duplicada não foi encontrada com a chave exclusiva `- 422 - http://www.naclick.com.br/wp-content/uploads/2018/01/cdn-velocidade-internet-click.jpg`...</div>
<div class="progress-msg">[18:55:10] Aplicando filtros `pmxi_article_data` para ``</div>
<div class="progress-msg">[18:55:10] <b>CRIANDO</b> `` `Post`</div>
<div class="progress-msg">[18:55:10] <b>ERRO</b>: O conteúdo, o título e o resumo estão vazios.</div>
<div class="progress-msg">[18:55:10] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class="progress-msg">[18:55:10] Limpar dados temporários...</div>
