@import "variables";
@import "mixins";
@import "style";

header{
	background:transparent;
	.topo .side-right>div>span, header .topo .side-right>div i,
	.topo .para a,
	.baixo .desk-menu .box-menu ul li.black a,
	.topo .side-right>div.central a span,
	.topo .side-right>div>span,
	.topo .side-right>div i,
	.where label,
	.where label:after{
		color:#415d70;
	}
	&.small{
		background:#000;
	}
	.baixo{
		border-bottom:none;
		border-top-color:rgba(246, 246, 246, 0.2);
		.desk-menu{
			.logo a{
			    background-image: url(../img/logo-azul.png);
			}
			.box-menu ul li{
				a{
					color:#8a1818;
					font-weight: bold;
				}
				&.black a{
					color:#415d70;
				}
			}
		}
	}
	.topo{
		.side-right>div>span,
		.side-right>div i{
			color:#415d70;
		}
		.para a{
			color:#415d70;
		}
	}
}
.where label::before{
	color:#415d70;
}
#wrap .conteudo{
	margin-top: 0;
}


@include font-face('benguait-bold');

.the-error{
	background-image:url('../img/404-bg-dark.jpg');
	background-size:cover;
    background-position-x: 50%;
    background-position-y: 100%;
    min-height: 800px;
	padding-top: 200px;
    background-color:#000;
	.search404{
	    text-align: center;
	    float: left;
	    width: 100%;
	    position: relative;
	    z-index: 2;
	    pointer-events: none;
	    .title404{
		    font-family: "benguait-bold";
		    -webkit-text-stroke-width: 0.02em;
		    -webkit-text-stroke-color: #F22316;
		    color: transparent;
		    text-transform: uppercase;
		    line-height: 61px;
		    font-size: 80px;
		    text-align: center;
		    margin: 30px auto;
		    width: 480px;
		    position: relative;

			transform-origin:center;
		    animation: startStranger 2s forwards;
	        opacity: 0;
		    span{
			    font-family: "benguait-bold";
		    }
		}
		.stranger,
		.errorText,
		.text404 {
		    -webkit-text-stroke-width: 2px;
		    -webkit-text-stroke-color: #F22316;
		    -webkit-filter: drop-shadow(0 0 15px #f22316);
		    filter: drop-shadow(0 0px 5px #f22316);
	        line-height: initial;
	        height: 78px;
	        position: relative;
		}
		.stranger{
		    position: relative;
		    transform:translateY(-35px);
			animation: textTop 2s forwards;
		}
		.text404{
		    position: relative;
		    width: 323px;
		    margin: 0 auto;
	        transform: translateY(20px);
			animation: textBottom 2s forwards;
			.line--left {
			    top: 28px;
			}
			.line--right {
			    top: 28px;
			}
		}
		.errorText{
			transform: translateY(-15px);
		}

		.line {
			position: absolute;
			height: 7px;
			border: 0.02em solid red;
			border-radius: 1.5px;
			box-shadow:0 0 5px 0px rgba(242, 35, 22, 0.5);
		}

		.line--top {
			top: 0;
			right: 0;
			left: 0;
		    width: 92%;
		    margin: 0 auto;
			transform:scaleX(0);
			transform-origin:center;

			animation: strangerLineBig 2s forwards 2s;
		}

		.line--left {
			top: 35px;
			width: 61px;
			left: 10px;
			transform:scaleX(0);
			transform-origin:right;
			animation: strangerLineBig 2s forwards 3.5s;
		}

		.line--right {
			top: 35px;
			width: 61px;
			right: 10px;
			transform:scaleX(0);
			transform-origin:left;
			animation: strangerLineBig 2s forwards 3.5s;
		}

		.big-letter {
			font-size: 1.4em;
			vertical-align: top;
		    line-height: 117px;
		}

		.overlay {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			margin: auto;
			opacity: 0.4;
			background-image: linear-gradient(to left bottom, transparent 46%, #000000 53%, transparent 58%);
		}
	}

	.search{
		max-width: 380px;
		margin: 0 auto;
		text-align:center;
		z-index: 2;
		position: relative;
	    pointer-events: none;
	    form{
    	    pointer-events: visible;
	    }
		h3,p{
			float: left;
			width: 100%;
			color:#fff;
			text-shadow:0 0 5px rgba(0, 190, 255, 0.9);
		}
		p{
			font-size:14px;
		}
		h3{
			font-size:20px;
		}
	}

}

@keyframes strangerLineBig{
	from{
		transform:scaleX(0);
	}
	to{
		transform:scaleX(1);
	}
}
@keyframes startStranger{
	from{
		// transform:scale(1.3);
		opacity: 0;
	}
	to{
		opacity: 1;
		// transform:scale(1);
	}
}

@keyframes textTop{
	from{
		transform:translateY(-35px);
	}
	to{
		transform:translateY(0);
	}
}
@keyframes textBottom{
	from{
		transform:translateY(20px);
	}
	to{
		transform:translateY(-25px);
	}
}



footer{
	background:#000;
	.title-footer,
	.menu-footer-container ul li{
		position: relative;
		&:hover{
			a{
			    color: #fff;
			    text-shadow: 0 0 7px #00beff;
				&::before{
					// opacity: .7;
					// visibility:visible;
				}
			}
		}
		a::before{
			// content:'';
			// background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(255,255,255,0) 71%, rgba(255,255,255,0) 99%);
			// background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,0) 71%,rgba(255,255,255,0) 99%);
			// background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,0) 71%,rgba(255,255,255,0) 99%);
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
	  //       height: 200%;
		 //    width: 250%;
		 //    position: absolute;
		 //    opacity: 0;
		 //    visibility: hidden;
		 //    z-index: 1;
		 //    left: -72%;
		 //    top: -50%;
		}
		a{
			z-index: 2;
			position: relative;
			color:#02243d;
		}
	}
	.copy span{
		color:#02243d;
	}
	.div-footer{
		border-color:#01253e;
		a{
			color:#02243d;
			&:hover{
				color:#fff;
			}
		}
		.where label{
			color:#02243d;
			transition: all .5s ease;
			&::after{
				color:#02243d;
			}
			&:hover{
				color:#fff;
			    text-shadow: 0 0 4px #fff;
				&::after{
					color:#fff;
				    text-shadow: 0 0 4px #fff;
				}
			}
		}
		.my-container>div>div{
			color:#02243d;
			// &:hover{
			// 	color:#fff;
			// }
		}
	}
}


.ploatjeClass{
    position: absolute;
    height: 100%;
    background-image: url(../img/404-bg.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 100%;
    min-height: 800px;
    width: 100%;
    padding-top: 200px;
    bottom: 0;
}
#snow-animation-container {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas{
	opacity: .7;
	    position: absolute;
    top: 0;
}

#snow-animation-container {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
