@import "variables";
@import "mixins";


/* ANIMATIONS */

@keyframes explode {
  0% {
      transform:scale(0) rotate(0);
  }

  50% {
      transform:scale(1.9) rotate(20deg);
  }

  100% {
      transform: scale(1) rotate(0);
  }
  }
  @keyframes explodeRain {
  0% {
      transform:scale(1);
      opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100% {
      transform: scale(1.7);
      opacity:0;
  }
}