@import "variables";
@import "mixins";
// @import 'animations';

.btn{
    position: relative;
    float: left;
    @include MQ($large) {
        text-align: center;
        width: 100%;
    }
    &.center{
        display: inline-block;
        width: 100%;
        text-align: center;
        a{
            margin: 0 auto;
        }
    }
    &.right{
        float: right;
    }
    &.left{
        text-align: left;
        @include MQ(large){
            text-align: center;
        }
    }
    a,
    input[type="submit"],
    button{
        padding: 16px 20px;
        line-height: 100%;
        color:#ea0426;
        border-radius: 3px;
        letter-spacing: 1px;
        font-size: 13px;
        display: inline-block;
        border: none;
        border: 1px solid #ea0426;
        @include transitionDefault();
        font-family: $font-btn;
        &:hover{
            color:#fff;
            background:#ea0426;
        }
    }
    input[type="submit"]{
        text-transform: uppercase;
        border:none;
    }
    &.border-white{
        a,
        input[type="submit"],
        button{
            box-shadow: 0 0 8px rgba(255,255,255,0.37), 0 0 3px #fff;
            border: 2px solid;
            background: transparent;
            border-color:rgba(255, 255, 255, 0.83);
            &:hover{
                animation: intermittente 0.3s infinite alternate;
                box-shadow:  0 0 11px rgb(255, 255, 255), inset 0 0 10px rgba(255, 255, 255, 0.29);
                svg path{
                    fill: $black;
                }
            }
        }
    }
    &.green-up{
        a,
        input[type="submit"],
        button{
            border-color:#3abe00;
            background: #3abe00;
            color:#fff;
            text-transform: uppercase;
            &:hover{
                background: #fff;
                color:#3abe00;
            }
        }
    }
    &.espaco{
        a,
        input[type="submit"],
        button{
            padding: 20px;
            font-size: 14px;
            text-transform: uppercase;
        }
        &.maior{
            a,
            input[type="submit"],
            button{
                padding-left: 50px;
                padding-right: 50px;
                @include MQ(1199px){
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }
        }
        &.azul{
            a,
            input[type="submit"],
            button{
                background: #0062b1;
                border-color:#0062b1;
            }
        }
    }
}