@import "variables";
@import "mixins";

#contain-fixed-form{
	@include transition(.3s all ease-in-out);
	position: fixed;
	z-index: 2;
	left: 0;
	right: 0;
	.fixed-form{
	    @include transition(.3s all ease-in-out);
		position: relative;
		border-radius: 8px;
		margin: 30px 0 40px;
		float: right;
		width: 100%;
		max-width: 330px;
		background: $white;
		padding: 20px;
		box-shadow: 0 0 13px rgba(0, 0, 0, 0.21);
		&.nav-up{
			margin-top: -80px;
		}
		.btn{
			input[type="submit"]{
	            width: 100%;
			}
			&:hover{
				.ajax-loader{
					border-color:#3abe00;
				}
			}
		}
		h3{
			font-family: $font-light;
			color: $cor-destak;
			margin: 0 0 10px;
			font-size: 20px;
		}
		p{
			line-height: 126%;
			font-size: 13px;
			font-family: $font-light;
			margin-bottom: 15px;
		}
		.screen-reader-response{
			display: none;
		}
		@include MQ($large) {
			.fecha{
				cursor: pointer;
				position: absolute;
				right: 10px;
				top: 10px;
				height: 25px;
				width: 25px;
				&::before,
				&::after{
					background: rgba($white,.5);
					position: absolute;
					top: 11px;
					right: 5px;
					content: '';
					width: 16px;
					height: 2px;
				}
				&::before{
					@include transform(rotate(45deg));
				}
				&::after{
					@include transform(rotate(-45deg));
				}
			}
		}
		@include MQ($medium) {
			float: none;
			margin: 0 auto;
			display: table;
		}
		.contact{
			position: relative;
			font-size: 14px;
			color: $white;
			display: block;
			font-family: $font-bold;
			margin: 0 auto;
			display: table;
			&::after{
				position: absolute;
				content: '';
				background: rgba($white, .47);
				width: 100%;
				bottom: 0;
				height: 1px;
				left: 0;
			}
		}
		.seguro{
			padding: 0 20px 0 50px;
			color: #cacaca;
			left: 0;
			font-size: 10px;
		    position: absolute;
		    top: calc(100% + 14px);
			i{
				position: absolute;
				font-size: 30px;
				left: 12px;
				top: -2px;
			}
			a{
				font-family: $font-bold;
				color: #cacaca;
			}
		}
	}

	.maskara{
		border-radius: 8px;
    	@include transition(.2s all ease-in-out);
        background-color: rgba($cor-destak, 0.85);
        width: 100%;
        float: left;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        visibility: hidden;
	}

	.fields{
	    @include transition(.3s all ease-in-out);
	    position: relative;
	    float: left;
	    overflow: hidden;
	}

	// Esconde campos
	&.some{
		.fixed-form{
			margin: 30vh 0 40px;
		}
		.fields{
		    height: 0;
		}
	}

	// Açoes sendo executadas
    &.show{
    	.fixed-form{
			margin: 30vh 0 40px;
		}
		.maskara{
        	visibility: visible;
        }
        .fields{
        	height: 0 !important;
        }
    }

    @include MQ($large) {
    	opacity: 0 !important;
		height: 100vh;
		z-index: 16;
		opacity: 0;
		visibility: hidden;
		.mask{
			@include transition(.3s all ease-in-out);
			position: fixed;
			width: 100vw;
			height: 100vh;
			top: 0;
			content: '';
			background: $black;
			opacity: .8;
			left: 0;
		}
		.fixed-form{
			margin: 80px auto 0;
			max-width: 397px;
			float: none;
			.seguro{
				color: $white;
			}
		}

		&.show{
			opacity: 1 !important;
			visibility: visible;
			float: none;
			.fixed-form{
				margin: 80px auto 0;
			}
			.fields{
				height: inherit !important;
			}
			.maskara{
				visibility: hidden;
			}
		}


		&.some{
			.fixed-form{
				// max-width: 397px;
				margin: 80px auto 0;
				// float: none;
			}
			.fields{
				height: inherit;
			}
		}
    }
    @include MQ($small) {
    	.fixed-form{
    		margin: 15px auto 0 !important;
    		height: calc(100vh - 30px);
			overflow-y: scroll !important;
			display: block;
    	}
    }
    form .campo label{
        color:#7e6f73;
        &.error{
        	color: #990000;
        }
    }
}

