@import "variables";
@import "mixins";

/* The animation code */
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    &:active{
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
    &:focus{
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
}

input,
textarea,
button{
    @include transition(all .3s ease-in-out);
}


span.wpcf7-list-item{
    margin: 0 15px 0 0;
    position: relative;
    float: left;
    input{
        z-index: 2;
        position: relative;
        opacity: 0;
        &:checked + span {
            &::after{
                background: $cor-destak;
                border-color:$cor-destak;
            }
        }
    }
    span{
        color: #7e6f73;
        &::after{
            content:'';
            width: 12px;
            height: 12px;
            border:2px solid #7e6f73;
            position: absolute;
            left: 0;
            top: -1px;
            margin: 1px 0px 0 1px;
            border-radius: 50%;
            z-index: 1;
        }
    }
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea,
select{
    font-family: $font-regular;
    color: $read;
    padding: 10px 13px 10px 7px;
    height: 45px;
    width: 100%;
    font-size: 13px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-sizing: inherit;
    textarea:active,
    textarea:focus,
    &:focus,
    &:active{
        @include box-shadow(inset 0 0 4px rgba(0,0,0,0.26));
        border-color:$cor-destak;
    }
    &::-webkit-input-placeholder{
        font-family: $font-light;
        color: #bab2b4;
    }
    &::-webkit-input-placeholder{
        font-family: $font-light;
        color: #bab2b4;
    }
    &::-moz-placeholder{
        font-family: $font-light;
        color: #bab2b4;
    }
    &:-ms-input-placeholder{
        font-family: $font-light;
        color: #bab2b4;
    }
    &:focus::-webkit-input-placeholder{
        font-family: $font-light;
        color: transparent;
    }
    &:focus::-moz-placeholder{
        font-family: $font-light;
        color: transparent;
    }
    &:focus::-moz-placeholder{
        font-family: $font-light;
        color: transparent;
    }
    &:focus:-ms-input-placeholder{
        font-family: $font-light;
        color: transparent;
    }
}
textarea{
    max-width: 100%;
    height: 200px;
}
input:focus,
textarea:focus,
button:focus{
    outline: none;
}
form{
    position: relative;
    width: 100%;
    float: left;
    @include MQ(991px){
        max-width: 500px;
        margin: 0 auto;
        display: block;
        float: none;
    }
    .campo{
        position: relative;
        width: 100%;
        float: left;
        margin-bottom: 10px;
        @include MQ(991px){
            text-align: center;
        }
        #file {
            display: none;
        }

        .campo-file {
            background: #fff;
            float: left;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: #424242;
            padding: 7px 13px;
            height: 40px;
            width: 100%;
            font-size: 14px;
            border: 1px solid #a1a1a1;
            border-radius: 8px;
        }

        .btn-file {
            width: 110px;
            height: 40px;
            background: #a1a1a1;
            border: 1px solid #a1a1a1;
            margin-left: 15px;
            float: left;
            text-align: center;
            color: #fff;
            box-sizing: border-box;
            padding: 7px 0;
            cursor: pointer;
            position: absolute;
            right: 0;
            border-radius:8px;
            font-family: $font-regular;
            font-size: 16px;
        }
        label{
            font-family: $font-regular;
            color:#fff;
            font-size: 13px;
            margin-bottom: 5px;
            float: left;
            width: 100%;
            text-align: left;
            &.error{
                color: #f7c0ce;
                display: none !important;
            }
        }
        &.metade{
            width: 50%;
            @include MQ(768px) {
                width: 100%;
            }
            &.left{
                padding-right: 10px;
                 @include MQ(768px) {
                    padding-right:0;
                }
            }
            &.right{
                padding-left: 10px;
                 @include MQ(768px) {
                    padding-left: 0;
                }
            }
        }
    }
    .btn{
        position: relative;
        width: auto;
        float: left;
        margin-bottom: 0;
        input[type="submit"]{
            background:$cor-destak;
            border:none;
            color:#fff;
            &:hover{
                background:$cor-destak;
                color:#fff;
                box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.52);
            }
        }
        @include MQ(991px){
            text-align: center;
            width: 100%;
        }
        &.btn-contato{
            input{
                border-color: #89be6f;
                background: #89be6f;
            }
        }
        img{
            margin: 5px auto 0;
            display: table;
        }
    }
    .wpcf7-response-output{
        width: 100%;
        float: left;
        padding: 10px;
        margin: 0;
        border-radius: 0;
        border-width: 1px;
        color: #fff;

        &.wpcf7-validation-errors{
            margin:0 0 20px;
            border:1px solid #c62828;
            background: #c62828;
        }
        &.wpcf7-mail-sent-ng{
            background-color: #c62828;
            color: #fff;
            margin:0 0 20px;
        }
    }
    .wpcf7-not-valid-tip{
        display: none !important;
    }
    input,
    textarea,
    select{
        &.wpcf7-not-valid{
            border:1px solid #c62828;
        }
    }
}


div.wpcf7{
    .anexo{
        margin-bottom: 0;
        .link{
            font-family: $font-bold;
            color:#707070;
            cursor: pointer;
        }
        input[type="file"]{
            display: none;
        }
        #nomeDoArquivo{
            font-family: $font-regular;
            color: #707070;
        }
    }
    .wpcf7-response-output.wpcf7-validation-errors{
        border-radius: 4px;
    }
    .wpcf7-response-output{
        border-radius: 4px;
    }
    .ajax-loader{
        background-repeat: no-repeat;
        margin: 16.5px auto 0;
        background-position-x: 50%;
        display: block;
        position: absolute;
        right: 0;
        bottom: -23px;

        background: none;
        border: 2px dashed #fff;
        border-radius: 50%;
        left: -6px;
        width: 12px;
        height: 12px;
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        &.is-active{
        }
    }

        form{
    }
    .campo{
        select{
            height: 35px;
        }
        label{
            &.input-file-trigger{
                font-size: 13px;
            }
        }
        .wpcf7-list-item{
            input{
                float: left;
                width: 15px;
            }
            span{
                vertical-align: top;
                float: left;
                font-size: 12px;
                line-height: 100%;
                margin-left: 5px;
                font-family: $font-regular;
            }
        }
    }
    .ajax-loader{
        background-repeat: no-repeat;
        margin: 16.5px 10px;
        background-position-x: 50%;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        &.is-active{
            display: block;

        }
    }
    .wpcf7-not-valid-tip{
        font-size: 12px;
    }
    .wpcf7-not-valid{
        border-color: $error;
    }
    .wpcf7-response-output{
        margin: 0;
        padding: 15px;
        font-family: $font-bold;
        margin-top: 20px;
        font-size: 12px;
        &.wpcf7-display-none{
            opacity: 0;
            visibility: hidden;
        }
        &.wpcf7-validation-errors{
            visibility: visible;
            opacity: 1;
            background: $warging;
        }
        &.wpcf7-mail-sent-ok{
            visibility: visible;
            opacity: 1;
            background: $ok;
        }
        &.wpcf7-mail-sent-ng{
            visibility: visible;
            opacity: 1;
            background: $error;
        }

    }

    // INPUT FILE
    .input-file-container {
        position: relative;
        label{
            display: block;
        }
    }
    .input-file-trigger {
        @include transition(all .4s ease-in-out);
        display: block;
        padding: 10px;
        background: $blue;
        color: $white;
        cursor: pointer;
        border-radius: 3px;
    }
    .input-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 225px;
        opacity: 0;
        padding: 14px 0;
        cursor: pointer;
    }
    .input-file:hover + .input-file-trigger,
    .input-file:focus + .input-file-trigger,
    .input-file-trigger:hover,
    .input-file-trigger:focus {
        background: darken($blue, 15%);
        color: $white;
    }

    .file-return {
        margin: 0;
    }
    .file-return:not(:empty) {
        float: left;
        font-size: 13px;
    }
    .file-return {
        font-style: italic;
        font-size: .9em;
        font-weight: bold;
    }
    .file-return:not(:empty):before {
        content: 'Arquivo Selecionado: ';
        font-style: normal;
        font-weight: normal;
    }
    // END INPUT FILE

    form .btn input[type="submit"]{
        margin-top: 20px;
        padding-left:25px;
        padding-right:25px;
    }
}