@import "variables";
@import "mixins";

#wrap{
    .conteudo{
        @include transition(all .5s ease);
        margin: 132px auto 0;
        float: left;
        width: 100%;
        @include MQ(menuResp) {
            margin-top:82px;
        }
    }
    &.nav-is-visible{
        .conteudo,
        & + .footer,
        #header-sroll{
            @include MQ(menuResp) {
                transform: translateX(-260px);
            }
        }
    }
}
header{
    @include transitionDefault();
    background: $white;
    width: 100%;
    top: 0;
    float: left;
    position: fixed;
    z-index: 6;
    .topo{
        padding: 10px 0;
        position: relative;
        z-index: 2;
        border-bottom:1px solid #ef6e83;
        background: rgb(228,14,14);
        background: -moz-linear-gradient(left, rgba(228,14,14,1) 0%, rgba(228,14,74,1) 50%, rgba(228,14,14,1) 100%);
        background: -webkit-linear-gradient(left, rgba(228,14,14,1) 0%,rgba(228,14,74,1) 50%,rgba(228,14,14,1) 100%);
        background: linear-gradient(to right, rgba(228,14,14,1) 0%,rgba(228,14,74,1) 50%,rgba(228,14,14,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40e0e', endColorstr='#e40e0e',GradientType=1 );
        color:#fff;
        span{
            font-family: $font-regular;
            font-size: 12px;
        }
        .sociais{
            float: left;
            a{
                &:hover{
                    i{
                        @include transition(all .5s ease);
                        background: #fff;
                        color: #e30e15;
                    }
                }
            }
            i{
                border-radius: 50%;
                color:#fff;
                padding: 2px;
            }
            span{
                font-size: 13px;
                margin-left: 10px;
            }
        }
        .bx-cont-log{
            float: right;
            .contato{
                margin-right: 10px;
                a{
                    color:#fff;
                    &:hover{
                        color:$cor-contraste;
                    }
                }
                @include MQ(590px){
                    span{
                        display: none;
                    }
                }
                // @include MQ(450px){
                //     display: none;
                // }
            }
            .item-menu {
                display: inline-block;

                @include MQ ( $medium ) {
                    display: block;
                }
            }
            .boleto,
            .chamado,
            .login{
                cursor: pointer;
                @include transition(all .5s ease);
                margin-right: 15px;
                position: relative;
                color: $white;

                &::after {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    width: 200px;
                    top: 35px;
                    left: 15px;
                    padding: 5px 15px;
                    border-radius: 5px;

                    @include transition( all .3s ease-in-out );
                }
                &:hover{
                    color:#025E97;
                    &::after {
                        visibility: visible;
                        opacity: 1;

                        background: rgba( $black, .5 );
                        color: $white;

                        @include MQ ( $medium ) {
                            display: none;
                        }
                    }
                }
            }
            .boleto::after {
                content: 'Emitir 2ª via de boleto';
            }
            .chamado::after {
                content: 'Comunicar sinistros';
            }
            .login::after {
                content: 'Área do cliente';
            }
        }
    }
    .baixo{
        background: rgb(228,14,14);
        background: -moz-linear-gradient(left, rgba(228,14,14,1) 0%, rgba(228,14,74,1) 50%, rgba(228,14,14,1) 100%);
        background: -webkit-linear-gradient(left, rgba(228,14,14,1) 0%,rgba(228,14,74,1) 50%,rgba(228,14,14,1) 100%);
        background: linear-gradient(to right, rgba(228,14,14,1) 0%,rgba(228,14,74,1) 50%,rgba(228,14,14,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40e0e', endColorstr='#e40e0e',GradientType=1 );
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
        .desk-menu{
            position: relative;
            width: 100%;
            float: left;
            .logo{
                float: left;
                margin-top: 10px;
                h1,
                span{
                    @include transitionDefault();
                    position: relative;
                    display: table;
                    z-index: 1;
                    margin: 0;
                }
                a{
                    background-image: url(../img/logo-branca-auto-vidas.png);
                    background-position: 0;
                    color: transparent;
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: block;
                    width: 230px;
                    font-size: 0;
                    height: 70px;
                }
            }
            .box-menu{
                position: relative;
                display: block;
                margin: 0 auto;
                float: right;
                text-align: center;
                ul{
                    @include transitionDefault();
                    padding: 0;
                    list-style: none;
                    margin: 20px 0;
                    float: left;
                    display: block;
                    width: 100%;
                    position: relative;
                    li{
                        float: left;
                        margin: 8px 5px;
                        &.whats-resp{
                            display: none;
                            @include MQ(450px){
                                display: block;
                            }
                        }
                        a{
                            padding: 8px;
                            display: block;
                            margin: 0;
                            color: $color-menu;
                            font-family: $font-regular;
                            &:hover{
                                color:#025E97;
                            }
                        }
                        &.tel-header{
                            a{
                                pointer-events: none;
                            }
                        }
                        &.black{
                            a{
                                color: $read-bold;
                            }
                        }
                        &:first-child{
                            margin-left: 0;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                        @include MQ($menuResp) {
                            margin: 0;
                        }
                    }
                }
            }
            @include MQ($large) {
                .box-menu{
                    background: rgba(234,4,38,1);
                    background: -moz-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(234,4,38,1)), color-stop(51%, rgba(240,10,75,1)), color-stop(100%, rgba(234,4,38,1)));
                    background: -webkit-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
                    background: -o-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
                    background: -ms-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
                    background: linear-gradient(to right, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea0426', endColorstr='#ea0426', GradientType=1 );
                    @include transitionDefault();
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    visibility: hidden;
                    ul{

                    }
                }
                &.opened{
                    .logo{
                        a{
                            background-image: url(../img/logo-branca-auto-vidas.png);
                        }
                    }
                    .box-menu{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .hamb-menu {
            position: relative;
            cursor: pointer;
            text-indent: 100%;
            color: transparent;
            background: none;
            width: 30px;
            height: 22px;
            padding: 0;
            border: none;
            float: right;
            margin: 7px 0;
            display: none;
            @include MQ(menuResp){
                display: inline-block;
            }
        }

        .hamb-menu span,
        .hamb-menu span::before,
        .hamb-menu span::after {
          position: absolute;
          width: 100%;
          height: 3px;
          background: #fff;
          border-radius: 4px;
          left: 0;
        }

        .hamb-menu span {
          transition: transform 0.3s;
        }

        .hamb-menu span::before,
        .hamb-menu span::after {
          content: "";
          left: 0;
          transition: transform 0.4s, width 0.4s, opacity 0.1s;;
        }

        .hamb-menu span::before {
          bottom: 8px;
        }

        .hamb-menu span::after {
          top: 8px;
        }
        .hamb-menu {

            -webkit-transition: background 0.3s;
            transition: background 0.3s;
            &:focus {
                outline: none;
            }
            &.is-active {
                span {
                    transform: rotate(135deg);
                    &::before {
                      transform: translate(0px, 9px) rotate(-90deg);
                      width: 100%;
                      opacity:0;
                    }
                    &::after {
                      transform: translate(0px, -9px) rotate(90deg);
                      width: 100%;
                      opacity: 1;
                    }
                }
            }
            @include MQ($large) {
                display: block;
            }
        }
    }

    &.nav-up{
        top: -110px;
        @include MQ ( $medium ) {
            top: -145px;
        }
    }
    &.small{
        &.nav-down{
            top: -41px;
            @include MQ ( $medium ) {
                top: -101px;
            }
        }
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.11), 0 4px 15px 0 rgba(0, 0, 0, 0.07);
        .where .bx .cabeca i{
            color:#fff;

        }
        .desk-menu{
            .box-menu .cd-header-buttons{
                top:19px;
            }
            .logo{
                margin-top: 7px;
                a{
                    width: 130px;
                    height: 45px;
                }
            }
            .box-menu{
                ul{
                    margin: 5px 0;
                }
            }
        }
    }
}

/* HEADER */
@include MQ(menuResp){
    header{
        .topo{
            .assine a{
                font-size: 10px;
                padding: 8px 16px;
            }
            .where label::after{
                font-size: 12px;
            }
            .side-right{
                >div.btn{
                    float: right;
                }
                >div.central{
                    margin-top: 5px;
                    i{
                        font-size: 16px;
                    }
                    span{
                        display: none;
                    }
                }
            }
        }
        .baixo{
            z-index: 3;
            position: relative;
            .desk-menu{
                .box-menu ul{
                    margin-top: 150px;
                    li{
                        width: 100%;
                        a{
                            color:#fff;
                            font-size: 18px;
                            &:hover{
                                text-shadow:0 0 5px #fff;
                            }
                        }
                        &.black a{
                            color:#232020;
                            &:hover{
                                text-shadow:0 0 5px #fff;
                            }
                        }
                    }
                }
                .logo{
                    margin: 6px 0;
                    a{
                        width: 109px;
                        height: 30px;
                    }
                }
            }
        }
    }
}