@mixin MQ($canvas) {
	@if $canvas == small {
		@media (max-width: $small) { @content; }
	}
	@else if $canvas == medium {
		@media (max-width: $medium) { @content; }
	}
	@else if $canvas == menu {
		@media (max-width: $menu) { @content; }
	}
	@else if $canvas == large {
		@media (max-width: $large) { @content; }
	}
	@else if $canvas == hd {
		@media (max-width: $hd) { @content; }
	}
	@else if $canvas == fullhd {
		@media (max-width: $fullhd) { @content; }
	}
	@else if $canvas == menuResp {
		@media (max-width: $menuResp) { @content; }
	}
	@else {
		@media (max-width: $canvas) { @content; }
	}
}
@mixin MQDUAL($max, $min) {
	@media (max-width: $max) and (min-width: $min) { @content; }
}


@mixin font-face($font-name) {
    @font-face {
        font-family: $font-name;
        src: url('fonts/#{$font-name}.eot');
        src: url('fonts/#{$font-name}.eot?#iefix') format('embedded-opentype'),
            url('fonts/#{$font-name}.ttf') format('truetype'),
            url('fonts/#{$font-name}.woff') format('truetype'),
            url('fonts/#{$font-name}.woff2') format('truetype'),
            url('fonts/#{$font-name}.svg##{$font-name}') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: $font-name;
            src: url('fonts/#{$font-name}.svg##{$font-name}') format('svg'),
            url('fonts/#{$font-name}.woff') format('truetype'),
            url('fonts/#{$font-name}.woff2') format('truetype');
        }
    }
}


@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
@mixin transitionDefault() {
	-webkit-transition: all .3s cubic-bezier(.15,.01,.31,1);
	-moz-transition: all .3s cubic-bezier(.15,.01,.31,1);
	-ms-transition: all .3s cubic-bezier(.15,.01,.31,1);
	-o-transition: all .3s cubic-bezier(.15,.01,.31,1);
	transition: all .3s cubic-bezier(.15,.01,.31,1);
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin padding ($pads...) {
	padding: $pads;
}
@mixin margin ($margin...) {
	margin: $margin;
}
@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}


@mixin hover-menu(){
	// transform: translate3d(100%,0,0) translate3d(1px,0,0);
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #eb2141;
    transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
    transition: transform 0.7s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

@mixin bg-red{
	background: #E0B6BC;
	background: -moz-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(234,4,38,1)), color-stop(51%, rgba(240,10,75,1)), color-stop(100%, rgba(234,4,38,1)));
	background: -webkit-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
	background: -o-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
	background: -ms-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
	background: linear-gradient(to right, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea0426', endColorstr='#ea0426', GradientType=1 );
}
@mixin bg-blue{
	background: rgba(67,95,251,1);
	background: -moz-linear-gradient(left, rgba(67,95,251,1) 0%, rgba(32,131,223,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67,95,251,1)), color-stop(100%, rgba(32,131,223,1)));
	background: -webkit-linear-gradient(left, rgba(67,95,251,1) 0%, rgba(32,131,223,1) 100%);
	background: -o-linear-gradient(left, rgba(67,95,251,1) 0%, rgba(32,131,223,1) 100%);
	background: -ms-linear-gradient(left, rgba(67,95,251,1) 0%, rgba(32,131,223,1) 100%);
	background: linear-gradient(to right, rgba(67,95,251,1) 0%, rgba(32,131,223,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#435ffb', endColorstr='#2083df', GradientType=1 );
}
	