@import "variables";
@import "mixins";
@import "animations";
@import "wordpress";
@import "bootstrap";
@import "botoes";
@import "menu";
@import "form";

.col-xs-12.col-md-8{
    z-index: 4;
}
a{
    color:$cor-destak;
    &:hover{
        color: #56061b;
    }
}
.margin-top20{
    margin-top: 30px;
}
.conteudo{
    ul{
        padding: 10px 0 0 20px;
        margin-bottom: 30px;
        float: left;
        width: 100%;
        @include MQ(large){
            max-width: 500px;
            margin: 0 auto;
            float: none;
        }
    }
    li{
        list-style: none;
        padding-left: 25px;
        margin-bottom: 10px;
        position: relative;
        width: 100%;
        text-align: left;
        font-family: $font-regular;
        font-size: 15px;
        @include MQ(large){
            max-width: 500px;
        }
        &::before{
            content:'●';
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
.owl-carousel{
    float: left;
}

.title{
    font-family: $font-regular;
    margin-bottom: 20px;
    color: $cor-destak;
    font-size: 27px;
    margin-top: 0;
    @include MQ(medium){
        font-size: 24px;
    }
    &.white{
        color:#fff;
    }
    span{
        font-family: $font-medium;
        font-size: 32px;
        display: block;
        @include MQ(medium){
            font-size: 26px;
        }
    }
}
.subtitle{
    font-family:$font-regular;
    margin-top: 10px;
    margin-bottom: 50px;
    color:#7e6f73;
}
section{
    position: relative;
    width: 100%;
    float: left;
    @include MQ(991px){
        text-align: center;
    }
    &.padg{
        padding: 50px 0;
    }
}

.uppercase{
    text-transform: uppercase;
}
#ajx{
    display: none;
}
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    color: $read;
}
#wrap{
    background-color: $white;
    position: relative;
    top: 0;
    float: left;
    width: 100%;
    // overflow: hidden;
}
h1, h2, h3, h4{
    color: $read-bold;
    font-family: $font-bold;
}
h1, .h1{
    font-size: 50px;
    @include MQ(568px) {
        font-size: 45px;
    }
}
h2, .h2{
    font-size: 45px;
    @include MQ(568px) {
        font-size: 40px;

    }
}
h3, .h3{
    font-size: 30px;
    @include MQ(568px) {
        font-size: 26px;

    }
}
small, .small {
    font-size: 100%;
}
a, span, li{
    font-family: $font-regular;
}
// strong, b{
//     font-family: $font-black;
// }
a,
input,
textarea,
button{
    @include transitionDefault();
}
input:focus,
textarea:focus,
button:focus{
    outline: none;
}
a{
    &:hover,
    &:focus,
    &:active{
        outline: none;
        text-decoration: none;
    }
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p{
    color: $read;
    font-size: 17px;
    font-family: $font-regular;
    line-height: 126%;
    margin-bottom: 25px;
    letter-spacing: .5px;
}
.link-esp{
    color:#ef0944;
    font-family: $font-medium;
    text-align: center;
    display: block;
    font-size: 17px;
    span{
        position: relative;
        &::before{
            content:'';
            width: 100%;
            height: 2px;
            background-color:#fac4cc;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &.btn{
        span{
            padding: 17px 30px;
            border: 2px solid #e1e1e1;
            color: #9e9e9e;
            font-size: 14px;
            border-radius: 6px;
            font-family: $font-medium;
            @include transition(color .5s ease, border-color .5s ease);
            &:hover{
                color: $cor-destak;
                border-color:$cor-destak;
            }
            &::before{
                display: none;
            }
        }
    }
}
.my-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    &.menor{
        padding: 0 150px;
        @include MQ($large) {
            padding:0 15px;
        }
    }
}
img{
    max-width: 100%;
}

@include font-face($fontello);
@include font-face($font-regular);
@include font-face($font-black);
@include font-face($font-bold);
@include font-face($font-semibold);
@include font-face($font-medium);
@include font-face($font-light);
@include font-face($font-blog);



// FOOTER
footer{
    @extend section;
    background: rgb(0,107,182);
    background: -moz-linear-gradient(left, rgba(0,107,182,1) 0%, rgba(0,69,162,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,107,182,1) 0%,rgba(0,69,162,1) 100%);
    background: linear-gradient(to right, rgba(0,107,182,1) 0%,rgba(0,69,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006bb6', endColorstr='#0045a2',GradientType=1 );
    text-align: left;
    z-index: 3;
    color: $white;
    @include MQ(medium){
        text-align: center;
    }


    >.container{
        padding-top: 50px;
        padding-bottom: 50px;
        @include MQ(medium){
            padding-bottom: 10px;
        }
    }
    .logo-footer{
        max-width: 100%;
        width: 340px;
        display: inline-block;
        text-align: right;
        @include MQ(medium){
            text-align: center;
        }
    }
    .social{
        width: 100%;
        float: left;
        margin-top: 20px;
        text-align: right;
        @include MQ(medium){
            text-align: center;
        }
        .label{
            font-family: $font-light;
        }
        .redes{
            a{
                background: #fff;
                color: #0064b2;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                display: inline-block;
                margin: 0 2px;
                text-align: center;
                border: 1px solid #fff;
                &:hover{
                    background: #0064b2;
                    color: #fff;
                }
            }
        }
    }
    .box-cont{
        width: 100%;
        margin-bottom: 30px;
        span{
            display: block;
            width: 100%;
            margin-bottom: 2px;
            font-size: 16px;
            a{
                &:hover{
                    color: #fff;
                    text-shadow: 0 0 2px #fff;
                }
            }
        }
    }
    .box-end{
        span{
            font-size: 15px;
        }
        @include MQ ( $large ) {
            margin-top: 35px;
        }
    }
    a{
        color:#fff;
        &:hover{
            text-shadow: 0 0 4px #fff;
        }
        &:visited{
            color:#fff;
        }
    }
    .menu-footer-container{
        position: relative;
        width: 100%;
        float: left;
        margin-bottom: 0;

        @include MQ(medium) {
            text-align: center;
            border: none;
            margin: 50px 0;
            padding: 30px 0;
            border-top: 1px solid rgba(255,255,255,.7);
            border-bottom: 1px solid rgba(255,255,255,.7);
        }
        nav{
            border-left: .5px solid #fff;
            @include MQ(medium){
                border: none;
            }
        }
        ul{
            padding: 0 0 0 10px;
            list-style: none;
            margin: 0 auto;
            display: inline-block;
            @include MQ($large){
                text-align: center;
            }
            @include MQ(medium){
                padding: 0;
            }
            li{
                @include MQ(large){
                    text-align: left;
                }
                @include MQ(medium){
                    text-align: center;
                }
                a{
                    color:$white;
                    font-size: 14px;
                    padding: 3px 0;
                    display: inline-block;
                    font-family: $font-light;
                    @include transition(all .33s ease);
                    &:hover{
                        margin-left: 3px;
                    }
                }
            }
        }
    }
    .copy{
        display: block;
        width: 100%;
        padding: 10px 0;
        position:relative;
        float: left;
        border-top:1px solid rgba(255,255,255,.4);
        @include MQ(991px){
            img{
                max-width: 30px;
                float: none;
            }
        }
        @include MQ(768px){
            margin-top: 30px;
        }
        span{
            vertical-align: middle;
            font-size: 13px;
            letter-spacing: 0.5px;
            color: rgba(252, 255, 255, 0.6);
            font-family: $font-light;
        }
    }
    .assoweb{
        position: absolute;
        right: 0;
        width: 23px;
        @include MQ(768px){
            position: relative;
            display: block;
            float: none;
            margin: 10px auto 0;
            img{
                margin-left: 0;
            }
        }
    }
}

// Button Scroll to top
.cd-top {
    transition: opacity .3s 0s, visibility 0s .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    z-index: 6000;
    right: 10px;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../img/cd-top-arrow.svg) center 45% no-repeat rgba(0, 0, 0, 0.78);
    visibility: hidden;
    border: 1px solid #b3b3b3;
    opacity: 0;
    border-radius:50%;
    &.cd-fade-out,
    &.cd-is-visible{
        transition: opacity .3s 0s, visibility 0s 0s;
    }
    &.cd-is-visible{
        visibility: visible;
        opacity: 1;
    }
    &.cd-fade-out {
        opacity: .5;
    }
}
.no-touch{
    .cd-top{
        &:hover{
            transition: opacity .3s 0s, visibility 0s 0s;
        }
    }
}

// @import "jquery-ui";
.ui-icon{
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

// MODAL
.login-form{
    @include transitionDefault();
    position: fixed;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    z-index: 6;
    .mask{
        background: rgba($black,.8);
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .modal{
        border-radius: 5px;
        overflow: hidden;
        @include transitionDefault();
        z-index: 2;
        background: $white;
        margin: 230px auto 0;
        display: table;
        position: relative;
        width: 100%;
        max-width: 335px;
        .modal-header{
            background: rgba(234,4,38,1);
            background: -moz-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(234,4,38,1)), color-stop(51%, rgba(240,10,75,1)), color-stop(100%, rgba(234,4,38,1)));
            background: -webkit-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
            background: -o-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
            background: -ms-linear-gradient(left, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
            background: linear-gradient(to right, rgba(234,4,38,1) 0%, rgba(240,10,75,1) 51%, rgba(234,4,38,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea0426', endColorstr='#ea0426', GradientType=1 );
            color: $white;
            padding: 10px;
            span{
                font-family: $font-bold;
            }
            i{
                position: absolute;
                right: 10px;
                // font-size: 20px;
                top: 10px;
                cursor: pointer;
                width: 15px;
                height: 15px;
                background-image: url(../img/delete.svg);
            }
        }
        .modal-body{
            padding: 15px;
            float:left;
            input{
                margin-bottom: 10px;
            }

            .lembrar {
                margin-top: 15px;
                float: left;
                .area-cli-lembrar {
                    padding: 15px 0;
                    font-size: 11px;
                }
            }
        }
    }
    &.show{
        visibility: visible;
        opacity: 1;
        .mask{
            opacity: 1;
            visibility: visible;
        }
        .modal{
            margin: 25vh auto 0;
        }
    }

}



/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){}
@media (max-width: 1199px){}
@media (max-width: 991px){}
@media (max-width: 767px){}
@media (max-width: 481px){}


/* BOOTSTRAP QUERIES */
@media (min-width: 768px){
    .my-container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .my-container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .my-container {
        width: 1170px;
    }
}
@media (min-width: 1351px){
    .my-container {
        width: 1290px;
    }
}
@media (min-width: 1400px){
    .my-container {
        width: 1300px;
    }
}