// Cores
$primary-color: #f6f6f6;
$light-gray: #f6f6f6;
$read: #424242;
$read-bg-white: #fff;
$read-bold: #3e3b3a;
$black: #000;
$white: #fff;
$dark: #666;
$cor-destak: #e40e45;
$page-blak: #01070c;
$pg-cor-black: #9a9a9a;
$cor-contraste: #0064b3;

$red-neon-0: rgba(204, 0, 0, 1);
$red-neon-1: rgba(204, 0, 0, 0.3);
$red-neon-2: rgba(255, 0, 0, 0.3);
$red-neon-3: rgba(204, 0, 0, 0.3);

// Social Network colors
$facebook: #3b5a99;
$twitter: #25a8e0;
$gplus: #ce3633;
$instagram: #2f689b;
$youtube: #ce322e;
$linkedin: #0077B5;
$whatsapp: #009688;


// Brand Colors
$red-read: #EE0A4C;
$red: #EA0425;
$pink: #F00A4C;
$blue: #4261F9;

// Notification colors
$ok: #00C853;
$warging: #FFEA00;
$error: #B71C1C;


// Fontes
$fontello: 'fontello';

$font-medium: 'montserrat-medium';
$font-regular: 'montserrat-regular';
$font-black: 'montserrat-medium';
$font-bold: 'montserrat-medium';
$font-semibold: 'montserrat-semibold';
$font-light: 'montserrat-light';



//Menu
$bg-color-menu:transparent;
$font-menu: $font-bold;
$font-size-menu: 14px;
$color-menu:#fff;
$color-hover-menu: $cor-destak;
$cor-seta-menu:#fff;
$cor-seta-menu-resp: $cor-destak;
$height-header:81px;
$height-logo:61px;
$cor-hamb: #fff;


// Menu responsivo
$bg-color-menu-resp: $cor-destak;


//Botão
$font-btn: $font-regular;
$color-btn-font: #fff;
$color-bg: #2c7dd1;

//Title
$color-title: #f67f32;
$font-title: $font-light;
$font-size-title: 42px;


//Blog
$font-blog: $font-light;
$font-size-blog: 16px;

// Media queries size
$fullhd: 1350px;
$hd: 1199px;
$large: 991px;
$medium: 767px;
$small: 481px;

$menuResp: $large;