@import "variables";
@import "animations";
@import "style";

#breadcrumbs{
    font-size: 12px;
}
.postagens{
    li{

        &::before{
            display: none;
        }
    }
}
input[type="search"]{
    box-sizing: inherit;
}

.single-post .bannerFull{
    min-height: 119px;
    background-position: 50%;
}
.conteudo-post h1{
    margin: 20px 0 6px;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 43px;
}
.conteudo-post .titulo-post{
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.conteudo-post #breadcrumbs a{
    color: #666;
}
.conteudo-post #breadcrumbs a:hover{
    color: #9B2429;
}

.breadcrumb{
    background: transparent;
}
.bannerFull,
.grid,
.grid .navegacao,
.navegacao .nav-links,
.navegacao h2,
.postagens,
.postagens .post-content,
.postagens .post-module,
.postagens .post-module .thumbnail-article,
.thumbSingle {
    width: 100%;
    float: left
}

.thumbnail-article img {
    width: 100%;
}

.mdl-button,
.zmdi {
    display: inline-block
}

.mdl-button,
.mdl-button .material-icons {
    vertical-align: middle
}

.mdl-button,
.search-bar .mdl-textfield,
.tituloBread * {
    text-align: center
}

@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url(../fonts/Material-Design-Iconic-Font.woff2?v=2.1.0) format('woff2'), url(../fonts/Material-Design-Iconic-Font.woff?v=2.1.0) format('woff'), url(../fonts/Material-Design-Iconic-Font.ttf?v=2.1.0) format('truetype')
}

.atv,
.str {
    color: #D14
}

.kwd,
.prettyprint .tag {
    color: #1e347b
}

.atn,
.dec,
.typ,
.var {
    color: teal
}

.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8
}

.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0
}

.essb_links.essb_template_copy-retina .essb_counter_right {
    top: 0!important
}

ol.linenums {
    padding: 0
}

.pln {
    color: #48484C
}

.str {
    color: #D14
}

.kwd {
    color: #1E347B
}

.com {
    color: #93A1A1
}

.typ {
    color: teal
}

.lit {
    color: #195F91
}

.clo,
.opn,
.pun {
    color: #93A1A1
}

.tag {
    color: #008
}

.atn {
    color: teal
}

.atv {
    color: #D14
}

.dec,
.var {
    color: teal
}

.fun {
    color: #DC322F
}

pre.prettyprint {
    background-color: #F7F7F9;
    padding: 10px;
    border: 1px solid #E1E1E8
}

pre.prettyprint.linenums {
    box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset
}

ol.linenums {
    color: #1E347B;
    margin: 0 0 0 40px
}

ol.linenums li {
    color: #BEBEC5;
    line-height: 18px;
    padding-left: 12px;
    text-shadow: 0 1px 0 #FFF
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: normal
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: #eee
}

.thumbSingle {
    margin-bottom: 30px
}

.bannerFull {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    position: relative
}

.bannerFull.bggen {
    background: url(../img/postfix.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.bannerFull.blogc {
    min-height: 340px;
}
.bannerFull .overlay {
    background: rgba(0, 0, 0, 0.8);
    min-width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute
}
.bannerFull.single .overlay{
    background: #FFF;
}
.tituloBread {
    position: absolute;
    bottom: 15%;
    width: 100%;
    z-index: 1
}

.tituloBread * {
    color: #FFF!important
}

.postagens .post-module .post-content .resumo a,
.postagens .post-module .post-content h3 a {
    color: #555
}

.tituloBread h1 {
    font-size: 55px;
    font-weight: 400
}

.postagens {
    margin-top: 40px
}

.postagens .post-module {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    width: 100%;
    margin-bottom: 60px;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    height: 345px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 7;
    margin: 0 auto 56px;
    display: table;
    float: none;
}

.postagens .post-module:hover {
    box-shadow: 0px 15px 20px 0px rgba(46, 61, 73, 0.15)!important;
}

.postagens .post-module .post-content {
    padding: 15px;
}
.postagens .post-module .thumbnail-article{
    float: left;
    width: 100%;
    height:196px;
    overflow: hidden;
    background-size: cover;
}
.postagens .post-module .post-content h3{
    text-align: left!important;
}
.postagens .timestamp a{
    color: #666;
}
.postagens .timestamp a:hover{
    color: #95161b;
}
.postagens .post-module .thumbnail-article a{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.postagens .post-module .thumbnail-article a .cor{
    position: absolute;
    width: 100%;
    height: 100%;
}
.postagens .post-module .thumbnail-article a:hover{
    /* background: rgba(0, 0, 0, 0.2); */
}
.postagens .post-module .post-content h3 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 152%
}

.postagens .post-module .post-content .post-meta {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700
}

.postagens .post-module .post-content a:hover {
    color: #000
}

.postagens ul.sidebar,
.postagens ul.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar .wpcf7{
    margin: 0 0 10px 0;
    border-bottom: 1px solid #EAEAEA;
    padding: 0 0 20px 0;
    float: left;
    width: 100%;
}
.sidebar .feedform {
    float: left;
    width: 100%;
    padding: 0 0 25px 0;
    border-bottom: 1px solid #EAEAEA;
}
.sidebar .feedform form{
    padding: 0 !important;
    float: left;
    width: 100%;

}
.sidebar .feedform h3{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    margin-top: 0 0 20px;
    float: left;
    width: 100%;
}
.sidebar .feedform form input[type="text"],
.sidebar .feedform form input[type="email"]{
    padding: 6px !important;
    border-radius: 0;
    margin: 0 0 6px 0;
    float: left;
    width: 100%;
}
.sidebar .feedform form input[type="submit"]{
    padding: 10px 12px !important;
    border: 1px solid #00B9CD !important;
    color: #00B9CD !important;
    border-bottom-width: initial !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    height: auto !important;
    line-height: 100% !important;
    background-color: #FFF !important;
}
.sidebar .feedform form input[type="submit"]:hover{
    color: #FFF!important;
    background: #45D1E0 !important;
}
.form-blog,
.form-blog .searchbox{
    width: 100%;
    float: left;
    position: relative;
}
.form-blog{
    padding: 0 0 25px 0;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #EAEAEA;

}
.form-blog .searchbox .sb-search-input.searchbox-input{
    width: 100%;
    position: relative;
    padding: 10px 40px 10px 10px;
    line-height: 100%;
    border: 1px solid #8c8c8c;
}
.form-blog .searchbox .sb-search-submit.searchbox-submit{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 7px 20px;
    z-index: 2;
}
.form-blog .searchbox i{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 8px;
    right: 8px;
    color: #95161b;
    font-size: 27px;
    z-index: 1;
    transform: scale(.8);
}
.form-blog .searchbox .sb-search-submit.searchbox-submit:hover + i{
    right: 10px;
    transform: scale(1);
}

.postagens ul.sidebar li.widget {
    margin: 0 0 30px
}

.postagens ul.sidebar li h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    display: inline-block;
}
.postagens ul.sidebar li{
    float: left;
}

.postagens ul.sidebar li h3 a {
    color: #333;
}
.postagens ul.sidebar li h3 #receber{
    transition: .3s all ease-in-out;
    padding: 12px;
    border: 1px solid transparent;
    color: #FFF;
    /* border-bottom-width: initial; */
    text-decoration: none;
    border-radius: 4px;
    height: auto;
    line-height: 100%;
    /* background-color: #EA4335; */
    display: block;
    text-align: center;

    background: rgba(232,29,43,1);
    background: -moz-linear-gradient(45deg, rgba(232,29,43,1) 0%, rgba(240,71,119,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(232,29,43,1)), color-stop(100%, rgba(240,71,119,1)));
    background: -webkit-linear-gradient(45deg, rgba(232,29,43,1) 0%, rgba(240,71,119,1) 100%);
    background: -o-linear-gradient(45deg, rgba(232,29,43,1) 0%, rgba(240,71,119,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(232,29,43,1) 0%, rgba(240,71,119,1) 100%);
    background: linear-gradient(45deg, rgba(232,29,43,1) 0%, rgba(240,71,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81d2b', endColorstr='#f04777', GradientType=1 );
}
.postagens ul.sidebar li h3 #receber:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}
.postagens ul.sidebar li a {
    color: #666;
}
.postagens ul.sidebar ul li {
    padding: 7px 0 7px 0;
    border-bottom: 1px solid #EAEAEA;
    font-size: 13px;
    font-weight: 600;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.postagens ul.sidebar ul li:hover {
    padding: 7px 0 7px 2px;
}

.navegacao {
    padding: 0 30px;
    margin: 0 0 40px
}

.navegacao a.next.page-numbers,
.navegacao a.prev.page-numbers {
    color: #18A7B9;
    padding: 10px 8px
}

@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url(../fonts/Material-Design-Iconic-Font.woff2?v=2.1.0) format('woff2'), url(../fonts/Material-Design-Iconic-Font.woff?v=2.1.0) format('woff'), url(../fonts/Material-Design-Iconic-Font.ttf?v=2.1.0) format('truetype')
}

@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url(../fonts/Material-Design-Iconic-Font.woff2?v=2.1.0) format('woff2'), url(../fonts/Material-Design-Iconic-Font.woff?v=2.1.0) format('woff'), url(../fonts/Material-Design-Iconic-Font.ttf?v=2.1.0) format('truetype')
}

ge-numbers:nth-child(2) {
    padding: 10px 15px
}

.navegacao h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 15px
}

.navegacao a.page-numbers {
    color: #18A7B9;
    border: 1px solid #EDEDED;
    background-color: #FFF;
    padding: 10px 13px;
    border-radius: 2px
}

.navegacao a.page-numbers:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    color: #FFF;
    border: 1px solid #0C8E9E;
    background-color: #18A7B9;
    text-decoration: none
}

span.page-numbers.current {
    color: #FFF;
    border: 1px solid #18A7B9;
    background-color: #34D2E6;
    padding: 10px 15px;
    border-radius: 2px
}

.right-nav-sec {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 30px 0;
    float: right
}

.right-nav-sec .group-btn {
    display: inline-block;
    margin-left: 46px;
    vertical-align: middle;
    position: relative
}

.right-nav-sec .group-btn:before {
    width: 1px;
    height: 15px;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    left: -15px;
    top: 12px
}

.btn-animated:after,
.right-nav-sec .group-btn:before,
blockquote:after,
blockquote:before {
    content: ''
}

.right-nav-sec .group-btn>.mdl-button {
    box-shadow: none;
    font-size: 20px;
    min-width: 40px;
    height: 40px;
    width: 40px;
    background: 0 0
}

.main-header.component-header,
.main-header.is-sticky,
.mdl-button--fab {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28)
}

.right-nav-sec .group-btn i {
    font-size: 19px;
    color: #fff
}

@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url(../fonts/Material-Design-Iconic-Font.woff2?v=2.1.0) format('woff2'), url(../fonts/Material-Design-Iconic-Font.woff?v=2.1.0) format('woff'), url(../fonts/Material-Design-Iconic-Font.ttf?v=2.1.0) format('truetype')
}

.zmdi {
    font: normal normal normal 14px/1 Material-Design-Iconic-Font;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.zmdi-search:before {
    content: '\f1c3'
}

.zmdi-close:before {
    content: '\f136'
}

.mdl-button .mdl-ripple {
    background: #fff
}

.mdl-button .mdl-ripple.is-animating {
    -webkit-transition: -webkit-transform .5s cubic-bezier(0, 0, .2, 1), width .5s cubic-bezier(0, 0, .2, 1), height .5s cubic-bezier(0, 0, .2, 1), opacity .8s cubic-bezier(0, 0, .2, 1);
    transition: transform .5s cubic-bezier(0, 0, .2, 1), width .5s cubic-bezier(0, 0, .2, 1), height .5s cubic-bezier(0, 0, .2, 1), opacity .8s cubic-bezier(0, 0, .2, 1)
}

.mdl-button.ripple-black .mdl-ripple {
    background: #000
}

.mdl-button--fab {
    border-radius: 50%
}

.mdl-button--fab:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32)
}

.mdl-button .mdl-badge[data-badge]:after {
    top: -10px;
    right: -5px
}

.mdl-badge.mdl-badge--no-background[data-badge]:after {
    color: #ff4081;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 0 1px gray
}

.mdl-button {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    min-width: 64px;
    padding: 0 8px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow, transform;
    -webkit-transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    line-height: 36px
}

.mdl-button--fab,
.mdl-button--icon {
    font-size: 24px;
    padding: 0;
    overflow: hidden
}

.mdl-button::-moz-focus-inner {
    border: 0
}

.mdl-button:hover {
    background-color: rgba(158, 158, 158, .2)
}

.mdl-button:focus:not(:active) {
    background-color: rgba(0, 0, 0, .12)
}

.mdl-button:active {
    background-color: rgba(158, 158, 158, .4)
}

.mdl-button.mdl-button--colored {
    color: #3f51b5
}

.mdl-button.mdl-button--colored:focus:not(:active) {
    background-color: rgba(0, 0, 0, .12)
}

input.mdl-button[type=submit] {
    -webkit-appearance: none
}

.mdl-button--raised {
    background: rgba(158, 158, 158, .2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.mdl-button--raised:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    background-color: rgba(158, 158, 158, .4)
}

.mdl-button--raised:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
    background-color: rgba(158, 158, 158, .4)
}

.mdl-button--raised.mdl-button--colored {
    background: #3f51b5;
    color: #fff
}

.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:focus:not(:active),
.mdl-button--raised.mdl-button--colored:hover {
    background-color: #3f51b5
}

.mdl-button--raised.mdl-button--colored .mdl-ripple {
    background: #fff
}

.mdl-button--fab {
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    background: rgba(158, 158, 158, .2);
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
    position: relative;
    line-height: normal
}

.mdl-button--fab .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px, -12px);
    -ms-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px
}

.mdl-button--fab.mdl-button--mini-fab {
    height: 40px;
    min-width: 40px;
    width: 40px
}

.mdl-button--fab .mdl-button__ripple-container {
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000)
}

.mdl-button--fab:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    background-color: rgba(158, 158, 158, .4)
}

.mdl-button--fab:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
    background-color: rgba(158, 158, 158, .4)
}

.mdl-button--fab.mdl-button--colored {
    background: #ff4081;
    color: #fff
}

.mdl-button--fab.mdl-button--colored:active,
.mdl-button--fab.mdl-button--colored:focus:not(:active),
.mdl-button--fab.mdl-button--colored:hover {
    background-color: #ff4081
}

.mdl-button--fab.mdl-button--colored .mdl-ripple {
    background: #fff
}

.mdl-button--icon {
    border-radius: 50%;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    color: inherit;
    line-height: normal
}

.mdl-button--icon .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px, -12px);
    -ms-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px
}

.mdl-button--icon.mdl-button--mini-icon .material-icons,
.search-bar {
    top: 0;
    left: 0
}

.mdl-button--icon.mdl-button--mini-icon {
    height: 24px;
    min-width: 24px;
    width: 24px
}

.mdl-button--icon .mdl-button__ripple-container {
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000)
}

.mdl-button__ripple-container {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden
}

.mdl-button.mdl-button--disabled .mdl-button__ripple-container .mdl-ripple,
.mdl-button[disabled] .mdl-button__ripple-container .mdl-ripple {
    background-color: transparent
}

.mdl-button--primary.mdl-button--primary {
    color: #3f51b5
}

.mdl-button--primary.mdl-button--primary .mdl-ripple {
    background: #fff
}

.mdl-button--primary.mdl-button--primary.mdl-button--fab,
.mdl-button--primary.mdl-button--primary.mdl-button--raised {
    color: #fff;
    background-color: #3f51b5
}

.mdl-button--accent.mdl-button--accent {
    color: #ff4081
}

.mdl-button--accent.mdl-button--accent .mdl-ripple {
    background: #fff
}

.mdl-button--accent.mdl-button--accent.mdl-button--fab,
.mdl-button--accent.mdl-button--accent.mdl-button--raised {
    color: #fff;
    background-color: #ff4081
}

.mdl-button.mdl-button--disabled.mdl-button--disabled,
.mdl-button[disabled][disabled] {
    color: rgba(0, 0, 0, .26);
    cursor: auto;
    background-color: transparent
}

.mdl-button--fab.mdl-button--disabled.mdl-button--disabled,
.mdl-button--fab[disabled][disabled],
.mdl-button--raised.mdl-button--disabled.mdl-button--disabled,
.mdl-button--raised[disabled][disabled] {
    background-color: rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .26);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.mdl-button--colored.mdl-button--disabled.mdl-button--disabled,
.mdl-button--colored[disabled][disabled] {
    color: rgba(0, 0, 0, .26)
}

.search-bar.show {
    visibility: visible
}

.search-bar {
    min-height: 400px;
    position: fixed;
    width: 100%;
    z-index: 12;
    padding: 114px 0;
    max-height: 100%;
    color: #fff;
    background-image: none;
    visibility: hidden;
    overflow: hidden
}

.search-bar.show-contents>* {
    opacity: 1;
    filter: alpha(opacity=100)
}

.search-bar>.search-bg {
    width: 50px;
    height: 50px;
    background: rgba(81, 155, 250, .96);
    position: absolute;
    -webkit-transform: scale(65);
    -ms-transform: scale(65);
    transform: scale(65);
    border-radius: 50%;
    -webkit-transition: opacity .6s cubic-bezier(.4, 0, .2, 1), -webkit-transform .6s cubic-bezier(.4, 0, .2, 1);
    transition: opacity .6s cubic-bezier(.4, 0, .2, 1), transform .6s cubic-bezier(.4, 0, .2, 1);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    opacity: 1!important;
    filter: alpha(opacity=100)!important;
    z-index: -1;
    top: 0 !important;
}

.align-middle:before,
.blog-page .align-middle:before,
.search-bar>.search-bg {
    content: ""
}

.search-bar.hide-bg>.search-bg {
    opacity: 0!important;
    filter: alpha(opacity=0)!important;
    -webkit-transform: scale(0)!important;
    -ms-transform: scale(0)!important;
    transform: scale(0)!important
}

.search-bar>* {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.search-close {
    font-size: 50px;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
    cursor: pointer
}

.mdl-textfield {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 0 10px;
    width: 100%;
    padding: 14px 0
}

.search-bar .search-label {
    color: #fff;
    margin-bottom: 19px
}

.search-bar .mdl-textfield>label,
.search-bar .search-label {
    font-size: 20px;
    font-weight: 700;
    font-family: Roboto, sans-serif
}

.search-bar .mdl-textfield>label {
    color: #fff;
    text-align: center;
    display: block
}

.mdl-textfield__label {
    line-height: 1.5;
    color: #bbb
}

.mdl-textfield__input {
    border: none #e0e0e0;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: block;
    font-size: 16px;
    margin: 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
    padding: 8px 0
}

.mdl-textfield .mdl-textfield__input,
.mdl-textfield__label {
    font-weight: 400;
    font-size: 13px;
    font-family: Roboto, sans-serif
}

.mdl-textfield .mdl-textfield__input {
    color: #333;
    resize: none
}

.search-bar .mdl-textfield .mdl-textfield__label:after {
    background: #fff
}

input {
    outline: 0
}

.mdl-textfield__label {
    bottom: 0;
    color: rgba(0, 0, 0, .26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left
}

.mdl-textfield__label:after {
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    visibility: hidden;
    width: 10px;
    background-color: #333;
    bottom: 8px
}

.search-bar .mdl-textfield .mdl-textfield__input {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-bottom: 28px
}

.meta .categoria,
.meta .data,
.meta .imgAuthor .autor {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    float: left
}
.meta .categoria,
.meta .categoria a{
    color: #95161B;
}
.header.small .right-nav-sec .group-btn i,
.meta .imgAuthor .autor a {
    color: #333
}

.mdl-textfield__expandable-holder {
    position: relative;
    margin-left: 32px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    display: inline-block;
    max-width: .1px
}

.mdl-textfield.is-focused .mdl-textfield__label:after {
    left: 0;
    visibility: visible;
    width: 100%
}

.header.small .right-nav-sec {
    padding: 10px 0
}

.header.small .right-nav-sec .group-btn:before {
    background: rgba(85, 85, 85, 0)
}

.meta,
.postguide {
    width: 100%;
    float: left
}

.meta .imgAuthor {
    width: 100%;
    float: left;
    border-radius: 50%
}

.meta .imgAuthor .img-circle {
    border-radius: 50%;
    float: left;
    display: block;
    overflow: hidden;
    width: 40px;
    height: 40px
}

.meta .imgAuthor .img-circle img {
    display: block;
    max-width: 100%;
    height: auto
}

.meta .imgAuthor .autor {
    padding: 7px 0 7px 10px
}

.meta .categoria,
.meta .data {
    width: 100%;
    padding: 7px 0
}

.share {
    width: 100%;
    float: left;
    margin: 20px 0 0
}

div.sharedaddy h3.sd-title {
    display: none!important
}

.conteudo-post {
    width: 100%;
    float: left;
    margin: 20px 0 40px;
}

.conteudo-post img {
    display: block;
    max-width: 100%;
    height: auto
}

.conteudo-post h2,
.conteudo-post h3,
.conteudo-post h4,
.conteudo-post h5,
.conteudo-post h6 {
    /* text-transform: uppercase; */
    font-weight: 700;
    font-family: 'Montserrat';
}

.conteudo-post h2 {
    margin: 40px 0 30px;
    line-height: 45px;
    font-size: 38px;

}

.conteudo-post h3 {
    margin: 40px 0 30px;
    line-height: 33px;
    font-size: 36px;
}

.conteudo-post h4 {
    margin: 40px 0 30px;
    line-height: 23px;
    font-size: 28px;
}
.conteudo-post h5{
    font-size: 23px;
}

.conteudo-post p,
.conteudo-post ul{
    margin-bottom: 25px;
    line-height: 166%;
    font-size: 14px;
}
.conteudo-post a{
    color: #9B2429;
}
.conteudo-post a:hover{
    color: gold;
}

#sharing_email .sharing_send,
.sd-content ul li .option a.share-ustom,
.sd-content ul li a.sd-button,
.sd-content ul li.advanced a.share-more,
.sd-content ul li.preview-item div.option.option-smart-off a,
.sd-social-icon .sd-content ul li a.sd-button,
.sd-social-icon-text .sd-content ul li a.sd-button,
.sd-social-official .sd-content>ul>li .digg_button>a,
.sd-social-official .sd-content>ul>li>a.sd-button,
.sd-social-text .sd-content ul li a.sd-button {
    background: 0 0!important;
    padding: 3px 12px 3px 8px!important
}

.authorSingle {
    max-height: 112px;
    max-width: 112px
}

.authorInfo {
    margin: 30px 0 50px;
    width: 100%;
    float: left
}

.authorInfo .descricaoAutor {
    border-top: 14px solid rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .7);
    border-left: 13px solid;
    right: 14px;
    color: #FFF;
    top: 0
}

.authorInfo .descricaoAutor .bio {
    padding: 0 15px 0 0;
    margin: 15px 0;
    width: 100%;
    float: left
}

.authorInfo .descricaoAutor .bio a {
    line-height: 26px;
    font-size: 20px;
    color: #FFF
}

.authorInfo .descricaoAutor .bio p {
    line-height: 26px;
    font-size: 16px
}

.authorInfo .descricaoAutor .bio a:hover {
    text-decoration: none;
    font-weight: 600
}

.authorInfo .descricaoAutor .links {
    margin: 0 auto;
    float: left;
    width: 100%
}

.authorInfo .descricaoAutor .links ul.redesSociais {
    margin: 0 0 20px;
    float: left;
    padding: 0
}

.authorInfo .descricaoAutor .links ul.redesSociais li {
    -webkit-transition: background-position .35s ease-in-out;
    -moz-transition: background-position .35s ease-in-out;
    -ms-transition: background-position .35s ease-in-out;
    -o-transition: background-position .35s ease-in-out;
    transition: background-position .35s ease-in-out;
    background: url(../img/sprites.png);
    text-indent: -9000px;
    margin: 0 15px 0 0;
    display: block;
    height: 38px;
    width: 35px;
    float: left
}

.authorInfo .descricaoAutor .links ul.redesSociais li a {
    height: 38px;
    width: 35px;
    float: left
}

.comentarios,
.postRelated {
    float: left;
    width: 100%
}

.authorInfo .descricaoAutor .links ul.redesSociais li.facebook:hover {
    background-position: 0 43px
}

.authorInfo .descricaoAutor .links ul.redesSociais li.facebook {
    background-position: 0 81px
}

.authorInfo .descricaoAutor .links ul.redesSociais li.twitter:hover {
    background-position: -35px 43px
}

.authorInfo .descricaoAutor .links ul.redesSociais li.twitter {
    background-position: -35px 81px
}

.authorInfo .descricaoAutor .links ul.redesSociais li.instagram:hover {
    background-position: -70px 43px
}

.authorInfo .descricaoAutor .links ul.redesSociais li.instagram {
    background-position: -70px 81px
}

.authorInfo .descricaoAutor .links ul.redesSociais li.googleplus:hover {
    background-position: -210px 43px
}

.authorInfo .descricaoAutor .links ul.redesSociais li.googleplus {
    background-position: -210px 81px
}

.comentarios {
    margin: 30px 0
}




.modal-letter{
    width: 100%;
    position: fixed;
    height: 100%;
    opacity: 0;
    z-index: 999;
    visibility: hidden;
    transition: all .3s ease;
}
.modal-letter.open{
    visibility: visible;
    opacity: 1;
}
.modal-letter .mask{
    transition: all .3s ease;
    background: rgba(0,0,0, .7);
    position: absolute;
    width: 100%;
    height: 100%;
}
.modal-letter.open .mask{
    opacity: 1;
    visibility: visible;

}
.modal-letter{

}
.modal-letter .modal{
    opacity: 1;
    visibility: hidden;
    position: relative !important;
    margin: 120px auto 0;
    background: #FFF;
    transform: scale(.9);
    max-width: 400px;
    display: table;
    width: 100%;
    float: none;
}
.modal-letter.open .modal{
    transform: scale(1);
    visibility: visible;
}
.modal-letter .head-modal{
    background: rgba(232,29,43,1);
    background: -moz-linear-gradient(45deg, rgba(232,29,43,1) 0%, rgba(240,71,119,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(232,29,43,1)), color-stop(100%, rgba(240,71,119,1)));
    background: -webkit-linear-gradient(45deg, rgba(232,29,43,1) 0%, rgba(240,71,119,1) 100%);
    background: -o-linear-gradient(45deg, rgba(232,29,43,1) 0%, rgba(240,71,119,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(232,29,43,1) 0%, rgba(240,71,119,1) 100%);
    background: linear-gradient(45deg, rgba(232,29,43,1) 0%, rgba(240,71,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81d2b', endColorstr='#f04777', GradientType=1 );
}
.modal-letter .head-modal h3{
    font-size: 18px;
}
.modal-letter .head-modal i{
    position: absolute;
    right: 15px;
    top: 14px;
    color: #FFF;
    cursor: pointer;
}
.modal-letter .body-modal{

}
.modal-letter .body-modal .campo{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.modal-letter .body-modal .campo input[type="email"],
.modal-letter .body-modal .campo input[type="text"]{
    padding: 7px;
    width: 100%;
}
.modal-letter .body-modal .campo input[type="submit"]{
    transition: .3s all ease;
    background: #9e5993;
    border: 1px solid #9e5993;
    border-radius: 5px;
    font-size: 16px;
    color: #FFF;
    float: right;
    padding: 8px;
}
.modal-letter .body-modal .campo input[type="submit"]:hover{
    background: rgba(158, 89, 147, 0.76);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}
.wpcf7-response-output{
    float: left;
    width: 100%;
    margin: 0 !important;
}


/* MEDIA QUERIE */
@media (min-width:767px) {
    .conteudo-post {
        width: 100%;
        max-width: 95%
    }
}

@media (max-width:767px) {
    .tituloBread {
        bottom: 10px
    }
    .tituloBread h1 {
        font-size: 44px;
        font-weight: 400
    }
    .authorInfo {
        background: rgba(0, 0, 0, .7);
        margin: 30px 0 17px;
        width: 100%;
        float: left
    }
    .authorInfo .descricaoAutor {
        background: 0 0;
        border-top: none!important;
        border-left: none!important;
        color: #FFF;
        right: 0;
        top: 0
    }
    .authorInfo .descricaoAutor .bio {
        text-align: center;
        font-size: 16px;
        padding: 15px
    }
    .authorInfo .descricaoAutor .links ul.redesSociais {
        padding: 0 0 56px 10px;
        margin: 0 auto;
        float: none
    }
}

@media (max-width:480px) {
    .tituloBread h1 {
        font-size: 25px
    }
    .tituloBread {
        bottom: 15%
    }
    .authorInfo {
        text-align: center;
        background: rgba(0, 0, 0, .7);
        margin: 30px 0 17px;
        width: 100%;
        float: left
    }
    .authorInfo .descricaoAutor {
        background: 0 0;
        border-top: none!important;
        border-left: none!important;
        color: #FFF;
        right: 0;
        top: 0
    }
    .authorInfo .descricaoAutor .links ul.redesSociais {
        margin: 0 auto 20px;
        padding: 0 0 36px 20px;
        float: none
    }
    .authorInfo .descricaoAutor .bio {
        text-align: center;
        font-size: 16px;
        padding: 15px;
        float: left;
        width: 100%
    }
}

.postguide .share .social ul {
    list-style: none;
    padding: 0;
    margin: 0 0 8px 0;
}
@media (min-width: 992px){
    .postguide .share .social ul {
        margin: 0 0 14px 0;
    }
}
.postguide .share .social ul li {
    display: inline-block;
    width: auto;
    padding-left:0;
}
.postguide .share .social ul li.facebook a {
    background: #42579c;
}
.postguide .share .social ul li.twitter a {
    background: #54A6E5;
}
.postguide .share .social ul li.linkedin a {
    background: #3579BA;
}
.postguide .share .social ul li.google a {
    background: #CE5333;
}
.postguide .share .social ul li.whatsapp a {
    background: #00E676;
}

.postguide .share .social ul li a {
    border-radius: 3px;
    display: block;
    height: 32px;
    margin: 0;
    position: relative;
    text-indent: -5000px;
    width: 32px;
}

.postguide .share .social ul li a:after {
    color: #fff;
    display: block;
    font-family: "FontAwesome";
    font-size: 15px;
    height: 32px;
    left: 0;
    line-height: 32px;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: 0;
    width: 32px;
}
.postguide .share .social ul li.facebook a:after {
    content: '\f09a';
}
.postguide .share .social ul li.twitter a:after {
    content: '\f099';
}
.postguide .share .social ul li.linkedin a:after {
    content: '\f0e1';
}
.postguide .share .social ul li.google a:after {
    content: '\f0d5';
}
.postguide .share .social ul li.whatsapp a:after {
    content: '\f232';
}









//Modal

.mask, .mask-enterp, .modal, .modal-enterp {
    z-index: 100;
}

.modal {
    position: fixed !important;
    top: 6px !important;
    max-height: 97vh !important;
    display: block;
    overflow-y: scroll;
}

.modal {
    top: 47%;
    position: absolute;
    width: 55%;
}

.modal, .modal-enterp {
    right: 0;
    bottom: 0;
    top: 2%;
    width: 55%;
    margin: 0 auto;
    height: auto;
    background: #FFF;
    display: table;
    border-radius: 4px;
    transition: .5s ease-out;
    transform: translateY(45px);
}

.modal .head-modal, .modal-enterp .head-modal {
    padding: 15px;
    background-color: #9A1E23;
}

.modal .body-modal, .modal .foot-modal, .modal .head-modal, .modal-enterp .body-modal, .modal-enterp .foot-modal, .modal-enterp .head-modal {
    position: relative;
    float: left;
    width: 100%;
}
.modal-letter .modal .body-modal{
    padding: 10px;
}
.modal .head-modal h3, .modal-enterp .head-modal h3 {
    font-size: 20px;
    color: #FFF;
    margin: 0;
}
div.wpcf7 {
    margin: 0;
    padding: 0;
    .ajax-loader{
        bottom: 9px;
    }
}

.postagens{
    ul.sidebar{
        li{
            padding:0;
        }
    }
}
.conteudo-post{
    ul{
        li{
            &::before{
                content:'●';
                display: block;
                font-size: 11px;
            }
        }
    }
}