@import "variables";
@import "mixins";
@import "style";

.cotacao{
	padding: 50px 0;
	.title{
		color:#7e6f73;
	}
	.bx-group{
		float: left;
		padding-bottom: 50px;
		margin-bottom: 50px;
	    border-bottom: 1px solid #f6f6f6;
	    transition: all 1s ease;
	    .campo{
			&.btn{
				margin:30px 0;
				&:hover{
					.ajax-loader{
						border-color:#3abe00;
					}
				}
			}
	    	> div{
		    	width: 33.3333%;
	    	    float: left;
	    	    cursor: pointer;
	    	    img{
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					-ms-filter: grayscale(100%);
					-o-filter: grayscale(100%);
					filter: grayscale(100%);
					filter: gray; /* IE 6-9 */
					transition: all .33s ease;
	    	    }
				&.active{
					img{
						filter: none; /* IE 6-9 */
		    	    }
				}
		    }
		}
	    span.wpcf7-list-item{
	    	width: 33.3333%;
	    	margin: 0;
	    	text-align: center;
	    	cursor:pointer;
	    	label{
	    		text-align: center;
	    		cursor: pointer;
	    		input{
	    			position: absolute;
	    			&:checked + span {
			            color: $cor-destak;
				    	transform: scale(1.2);
			        }
	    		}
	    	}
	    	span{
	    		margin: 0;
	    		position: relative;
    		    float: none;
	    		font-size:23px;
	    		font-family: $font-bold;
	    		transition: all .33s ease;

			    position: relative;
			    display: block;
	    		&::before{
					content:'Planos para';
					width: 100%;
					display: block;
	    		}
	    		&:after{
	    			bottom: -20px;
				    left: 0;
				    right: 0;
				    margin: 0 auto;
				    top: inherit;
	    		}
	    	}
    	}
    	.label-require{
    		color: #f7c0ce;
    		font-size: 11px;
		    float: none;
		    padding-left: 5px;
		    display: none;
		    width: 100%;
		    float: left;
		    &.active{
		    	display: block;
		    }
    	}
	}
	#bx1{

	}
	#bx2{
		opacity: 0;
		visibility: hidden;
		position: absolute;
		transform: translateY(-50px);
		&.active{
			opacity: 1;
			visibility: visible;
			position: relative;
			transform: translateY(0px);
		}
		span.wpcf7-list-item span{
			@include MQ(medium){
			    font-size: 13px;
			}
		}
		.campo>div{
			padding: 0 20px 10px;
		}
	}
	#bx3{
		opacity: 0;
		visibility: hidden;
		position: absolute;
	    padding-bottom: 0;
		margin-bottom: 0;
		&.active{
			opacity: 1;
			visibility: visible;
			position: relative;
			transform: translateY(0px);
		}
	}
}
form .campo{
	margin-bottom: 15px;
	&.bx-tel{
		&.bx-tel{
			> div {
				max-width: 130px;
			    float: left;
			    @include MQ(400px){
				    max-width: 100%;
				}
			}
			p{
			    display: inline-block;
			    float: left;
			    margin: 10px 15px;
			    vertical-align: middle;
			    span{
			    	color:#bab2b4;
			    	font-family: $font-light;
			    	font-size: 15px;
			    }
			}
		}
	}
	label{
		color:#7e6f73;
		&.email-error{
			display: none !important;
		}
	}
}
