@import "variables";
@import "mixins";
@import "style";
@import "form-fixed";

.banner{
	padding:50px 0;
	background: rgb(228,14,14);
    background: -moz-linear-gradient(left, rgba(228,14,14,1) 0%, rgba(228,14,74,1) 50%, rgba(228,14,14,1) 100%);
    background: -webkit-linear-gradient(left, rgba(228,14,14,1) 0%,rgba(228,14,74,1) 50%,rgba(228,14,14,1) 100%);
    background: linear-gradient(to right, rgba(228,14,14,1) 0%,rgba(228,14,74,1) 50%,rgba(228,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40e0e', endColorstr='#e40e0e',GradientType=1 );
	.img-detalhe{
		position: absolute;
		right: 0;
	    bottom: 0;
	    width: 100%;
	    opacity:.7;
	    z-index: 2;
	}
	.bx-cont{
		min-height: 550px;
		width: 100%;
		position: relative;
		.title{
			color:#fff;
		}
	}
}

.faq{
	padding:50px 0;
		.perg-resp{
		.resum{
			text-align: center;
			margin-bottom: 70px;
		}
	}



	.panel-default{
		border: none;
		box-shadow: none;
	}
	.panel-title a{
	    width: 100%;
	    display: block;
	    padding: 20px 15px;
		font-size: 16px;
		color:#6a6a6a;
		font-family: $font-light;
	    @include transition(all .3s ease);
	    &.collapsed{
			background:transparent;
			color:#666769;
	    }
	    &:hover{
	    	color:#6a6a6a;
	    }
		span{
			color: #e40e45;
	    	font-family: $font-regular;
		    margin-right: 10px;
		}
	}

	.collapsing {
	    position: relative;
	    height: 0;
	    overflow: hidden;
	    -webkit-transition-timing-function: ease;
	    -o-transition-timing-function: ease;
	    transition-timing-function: ease;
	    -webkit-transition-duration: .35s;
	    -o-transition-duration: .35s;
	    transition-duration: .35s;
	    -webkit-transition-property: height,visibility;
	    -o-transition-property: height,visibility;
	    transition-property: height,visibility
	}
	.panel-group {
	    margin-bottom: 20px;
	    .panel{
	    	margin-bottom: 0;
	        border: none;
	        box-shadow: none;
	    }
	}
	.panel-heading{
		padding:0;
	}
	.panel-default {
		>.panel-heading{
			background: none;
			border: none;
		    color: #fff;
	        border-top: 2px solid #f6f6f6;
		}
	}
	.panel-group .panel+.panel{
		margin:0;
	}
	.panel-group{
		border-bottom: 2px solid #f6f6f6;
	}
	.panel-default>.panel-heading+.panel-collapse>.panel-body{
		border-top-color: transparent;
	    font-size: 16px;
	    color: #7d7d7d;
	}
	.panel-title{
		margin-top: 0;
	    margin-bottom: 0;
	    font-size: 16px;
	    color: inherit;
	}
	.collapse{
		display: none;
		&.in{
			display: block;
			border: none;
		}
	}

	.panel-body{
	    margin-bottom: 10px;
	    padding:0 15px 15px 50px;
	    li{
		    margin-bottom: 15px;
	        text-align: left;
	        font-size: 15px;
		    font-family:$font-light;
	        a{
	        	font-size: 15px;
			    font-family:$font-light;
			    text-decoration: underline;
	        }
	    }
	    p{
	        font-size: 15px;
		    font-family:$font-light;
	        line-height: 21px;
		    margin-bottom: 10px;
		    a{
				color: #fff;
			    text-decoration: underline;
		    }
	    }
	}
}

