@import "variables";
@import "mixins";
@import "style";
@import "form-fixed";

.banner{
	background: rgb(228,14,14);
    background: -moz-linear-gradient(left, rgba(228,14,14,1) 0%, rgba(228,14,74,1) 50%, rgba(228,14,14,1) 100%);
    background: -webkit-linear-gradient(left, rgba(228,14,14,1) 0%,rgba(228,14,74,1) 50%,rgba(228,14,14,1) 100%);
    background: linear-gradient(to right, rgba(228,14,14,1) 0%,rgba(228,14,74,1) 50%,rgba(228,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40e0e', endColorstr='#e40e0e',GradientType=1 );
	.img-detalhe{
		position: absolute;
		right: 0;
	    bottom: 0;
	    width: 100%;
	    opacity:.7;
	    z-index: 2;
	}
	.bx-cont{
		min-height: 550px;
		width: 100%;
		position: relative;
	    @include MQ(730px){
	    	min-height: 450px;
    	    min-height: 350px;
	    }
		.img-func{
			position: absolute;
			right: -20px;
			bottom: 0;
		    height: 450px;
		    z-index: 2;
		    @include MQ(730px){
	    	    right: 0;
			    bottom: 0;
			    height: 250px;
		    }
		    @include MQ(490px){
				display: none;
		    }
		}
		.img-carro{
			position: absolute;
			right: 80px;
		    bottom: 50px;
	        width: 630px;
		    z-index: 1;
		    @include MQ(730px){
		    	bottom: 0;
			    right: 70px;
			    width: 330px;
		    }
		    @include MQ(490px) {
		    	right: 0;
			    left: 0;
			    margin: 0 auto;
		    }
		}
		.group{
		    display: inline-block;
		    padding: 20px 40px;
			color:$cor-destak;
			font-family: $font-regular;
		    position: relative;
		    margin: 110px 480px 0 0;
		    float: right;
		    @include MQ(1199px){
			    margin: 80px 400px 0 0;
		    }
		    @include MQ(730px){
		    	margin: 80px 0 0 30px;
			    float: left;
		    }
		    @include MQ(730px){
		    	margin: 80px auto 0;
			    float: none;
		    }
			&::before{
				content:'';
				position: absolute;
				background: #fff;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				border-radius: 7px;
				transform: skew(-23deg, 0);
			}
			span{
				z-index: 2;
				position: relative;
			}
			.label{
				font-family: $font-medium;
			    line-height: 100%;
				font-size: 17px;
				display: block;
				width: 100%;
			}
			.cifrao{
				font-family: $font-regular;
				font-size: 28px;
			    vertical-align: top;
			}
			.reais{
		        font-size: 67px;
			    vertical-align: top;
			    line-height: 100%;
		        letter-spacing: -3px;
			}
			.centavos{
			    font-size: 39px;
				font-family: $font-semibold;
			}
			.prest{
			    font-size: 12px;
			    position: absolute;
		        bottom: 25px;
			    right: 45px;
			}
		}
	}
}

.passos{
	padding:50px 0;
	.bx-item{
	    width: calc(33.333333% - 85px);
	    margin-right: 85px;
		float:left;
		background:$cor-destak;
	    padding: 20px 15px;
	    text-align: center;
	    border-radius: 7px;

	    background: rgb(228,14,74);
		background: -moz-linear-gradient(top, rgba(228,14,74,1) 0%, rgba(228,14,14,1) 100%);
		background: -webkit-linear-gradient(top, rgba(228,14,74,1) 0%,rgba(228,14,14,1) 100%);
		background: linear-gradient(to bottom, rgba(228,14,74,1) 0%,rgba(228,14,14,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40e4a', endColorstr='#e40e0e',GradientType=0 );
	    position: relative;
		@include MQ(hd){
			padding: 10px;
			width: calc(33.333333% - 65px);
		    margin-right: 65px;
		}
		@include MQ(large){
			&:last-child{
				&::before{
					display: none;
				}
			}
		}
		@include MQ(medium) {
		    display: block;
		    width: 230px;
		    float: none;
		    margin: 0 auto 50px;
		}
		&::before{
			content:'\E802';
			font-family: 'fontello';
		    position: absolute;
		    right: -75px;
		    top: calc(50% - 36px);
		    font-size: 54px;
		    color:#e4e4e4;
			@include MQ(hd) {
			    right: -57px;
			    top: calc(50% - 25px);
			    font-size: 39px;
			}
			@include MQ(medium) {
			    top: 100%;
			    left: 0;
			    right: 0;
			    transform: rotate(90deg);
			}
		}

		img{
			max-width: 100%;
		    height: 100px;
	        margin-top: 10px;
	        @include MQ(large){
        	    height: 80px;
	        }
		}
		h3{
			font-family: $font-regular;
		    text-align: center;
	        line-height: 20px;
		    font-size: 13px;
		    color: #fff;
		}
	}
}

.fazemos-muito{
	background: rgb(0,69,162);
	background: -moz-linear-gradient(top, rgba(0,69,162,1) 0%, rgba(0,107,182,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,69,162,1) 0%,rgba(0,107,182,1) 100%);
	background: linear-gradient(to bottom, rgba(0,69,162,1) 0%,rgba(0,107,182,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0045a2', endColorstr='#006bb6',GradientType=0 );
	> img{
	    position: absolute;
	    max-width: initial;
	    opacity: .4;
	}
	.div-1,.div-2,.div-3{
		padding: 40px 0;
	}
	.div-1{
		.bx-item{
			width: calc(33.333333% - 35px);
		    margin-right: 35px;
		    margin-bottom:30px;
			float:left;
		    text-align: center;
		    display: table;
            position:relative;
            .bx-int{
			    border-radius: 7px;
	            height: 68px;
	            overflow: hidden;
	            position:relative;
			    padding: 20px;
				background:#00498c;
				display: block;
			    @include transition(all .33s ease);
					&::before{
		            	content:'';
		            	position:absolute;
	            	    width: 120%;
					    height: 50px;
					    background: transparent;
					    transform: rotate(-10deg) scale(0);
					    top: 6px;
					    left: -10%;
					    @include transition(all .33s ease);
		            }
			    .bx-ctrl{
			    	display: table;
			    }
            }
		    &.active{
		    	.bx-int{
				    	background:#ffcc00;
			            &::before{
					    	transform: rotate(-10deg) scale(1);
						    background: #ffd83b;
			            }
		    		.bx-ctrl{

			            svg{
			            	fill:$cor-contraste;
			            }
			            h3{
			            	color:$cor-contraste;
			            	text-shadow: 0 0 18px #bd9807;
			            }
		    		}
		    	}
	            .unlock{
				    animation: explode 1.2s 1;
	            }
	            .efeito-exp{
				    animation: explodeRain 1s 1;
				}
		    }
		    &.finished{
				.bx-int{
				    	background:#fff;
			            &::before{
					    	transform: rotate(-14deg) scale(1);
						    background: #f7f7f7;
			            }
					.bx-ctrl{

			            svg{
			            	fill:$cor-contraste;
			            }
			            h3{
			            	color:$cor-contraste;
			            	text-shadow: none;
			            }
					}
		    	}
				.lock{
					opacity: 1;
				}
		    }
			@include MQ(hd){
				padding: 10px;
				width: calc(33.333333% - 35px);
			    margin-right: 35px;
			}
			@include MQ(medium) {
			    display: inline-block;
			    width: 49%;
			    max-width: 230px;
			    float: none;
			    margin: 0 auto 10px;
			}
			@include MQ(580px) {
				width: 100%;
			}

			svg{
				width: 25px;
			    float: left;
			    margin-right: 10px;
			    z-index: 2;
			    position: relative;
            	fill:#fff;
			}
			h3{
			    font-size: 14px;
			    color: #fff;
			    width: calc(100% - 40px);
			    vertical-align: top;
			    margin: 0;
			    text-align: left;
		        display: table-cell;
			    vertical-align: middle;
		        font-family: $font-regular;
		        z-index: 2;
		        position: relative;
			}
			.unlock{
				position: absolute;
				top:10px;
				right: 10px;
				width: 20px;
				transform:scale(0);
		        z-index: 2;
		        @include transition(all .33s ease);
		    }
			.lock{
				position: absolute;
				top:10px;
				right: 10px;
				width: 20px;
				opacity:0;
		        z-index: 3;
		        @include transition(all .33s ease);
			}
			.efeito-exp{
				position: absolute;
			    top: 1px;
			    right: 0px;
				width: 40px;
			    animation-delay: .2s;
			    transform:scale(0);
			    z-index: 2;
			    @include transition(all .33s ease);
			}
		}
	}
	.div-2{
		background: #00549e;
		.bx-item{
		    width: calc(25% - 25px);
		    margin-right: 25px;
		    margin-bottom: 30px;
			float:left;
		    padding: 10px;
		    text-align: center;
		    border-radius: 7px;
		    background:#00498c;
		    position: relative;
		    height: 50px;
		    display: table;
			@include MQ(hd){
				padding: 10px;
				width: calc(25% - 15px);
			    margin-right: 15px;
			}
			@include MQ(medium) {
		        width: 48%;
			    margin-left: 1%;
			    margin-right: 1%;
			}
			h3{
				color:#fff;
				font-size: 13px;
				margin: 0;
				font-family: $font-regular;
			    display: table-cell;
			    vertical-align: middle;
				@include MQ(580px) {
					font-size: 12px;
				}
			}
		}
	}
	.div-3{
		background: #004997;
		.bx-item{
		    width: calc(25% - 25px);
		    margin-right: 25px;
		    margin-bottom: 30px;
			float:left;
		    padding: 20px 15px;
		    text-align: center;
		    border-radius: 7px;
		    background:#00498c;
		    position: relative;
		    height: 170px;
			@include MQ(hd){
				padding: 10px;
				width: calc(25% - 15px);
			    margin-right: 15px;
			}
			@include MQ(medium) {
			    display: inline-block;
			    width: 49%;
			    vertical-align: top;
			    max-width: 230px;
			    float: none;
			    margin: 0 auto 50px;
			}

			img{
				max-width: 100%;
			    height: 70px;
		        @include MQ(large){
	        	    height: 80px;
		        }
			}
			h3{
				font-family: $font-regular;
			    text-align: center;
		        line-height: 20px;
			    font-size: 12px;
			    color: #fff;
			    margin-bottom: 0;
			}
		}
	}
}

.planos{
    padding: 50px 0 0;
    .row > div{
	    min-height: 700px;
	    > div{
		    padding: 0 35px;
		    transition: all .33s ease;
		    &:hover{
		    	transform: scale(1.1);
		    	@include MQ(large){
			    	transform: scale(1);
				}
		    }
		    @include MQ(hd){
			    padding: 0 15px;
		    }
		    &.btn{
				position: absolute;
				bottom:0;
				left: 0;
				right: 0;
				text-align: center;
				@include MQ(large){
					position: relative;
				}
				&:hover{
					a{

					}
				}
		    }
	    }
    }
	.bx-item{
        transition: all .33s ease;
        padding: 65px 20px 40px;
		background:$cor-destak;
		text-align: center;
        position: relative;
	    border-radius: 6px;
        margin-top: 70px;
        color: #fff;
		float:left;
		@include MQ(large){
		    float: none;
		    max-width: 330px;
            padding-top: 85px;
	        margin: 90px auto 20px;
		}
		h3{
			font-family: $font-semibold;
			font-size: 15px;
			margin:0 0 15px;
			color: #fff;
			transition: all .33s ease;
			span{
				font-family: $font-semibold;
			    font-size: 27px;
			}
		}
		p{
		    color: #fff;
		    font-size: 13px;
		    transition: all .33s ease;
		}
		img{
		    position: absolute;
            left: -22px;
		    top: -100px;
		    max-width: 230px;
		    transition: all .33s ease;
		    @include MQ(hd){
	    	    left: -14px;
			    top: -75px;
			    max-width: calc(100% + 30px);
		    }
		    @include MQ(medium){
	    	    left: 0;
			    right: 0;
			    margin: 0 auto;
			    top: -100px;
		    }
		}
		.a-partir{
			padding: 0 15px;
			text-align: left;
			color:#fff;
			@include MQ(768px){
				text-align: center;
			}
		}
		.price{
			font-family: $font-semibold;
			font-size: 25px;
		    position: relative;
		    display: inline-block;
		    transition: all .33s ease;
		    span{
		    	font-size: 11px;
			    position: absolute;
			    right: 0;
			    bottom: -11px;
			    font-family: $font-light;
			    letter-spacing: .6px;
		    }
		}
		.btn{
			opacity: 0;
			visibility: hidden;
			position: absolute;
		    bottom: 40px;
	    	a{
		    	font-size: 10px;
		    }
		    @include MQ(large){
		    	opacity: 1;
				visibility: visible;
			    bottom: 0;
			    position: relative;
		        float: none;
			    bottom: 0;
			    margin-top: 30px;
		    }
		}
		&:hover{
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
			padding-bottom: 90px;
			background: #fff;
			@include MQ(large){
				padding-bottom: 40px;
			}
			h3{
				color:$cor-destak;
			}
			p{
				color:$cor-destak;
			}
			.a-partir{
				color: $cor-destak;
			}
			.price{
				color:#3abe00;
			}
			.btn{
				opacity: 1;
				visibility: visible;
			    bottom: 20px;
			    left: 0;
			    right: 0;
				@include MQ(large){
					bottom: 0;
				}
			}
		}
	}
}

.sobre{
    padding: 90px 0;
    background: #e7eaf1;
    z-index: 3;
    .title{
    	color:#545454;
    }
    .box-cont{
    	padding-left: 40px;
    	@include MQ(large){
    		margin-top:50px;
    		padding-left: 0;
    	}
    	p{
    		color:#545454;
		    font-size: 15px;
		    line-height: 23px;
		    font-family: $font-light;
    	}
    }
}