@import "variables";
@import "mixins";
@import "style";
@import "form";

.head-title{
    padding: 50px 0;
	.page-name{
		text-align: left;
		@include MQ(large){
			text-align: center;
		}
		h1{
			color: $cor-destak;
			font-family: $font-bold;
		}
	}
	#breadcrumbs{
		margin-bottom: 0;
		a{
			font-family: $font-medium;
			font-size: 11px;
		}
		span{
			font-size: 10px;
		}
		span > span > span{
			font-family: $font-bold;
			color: #ee0a4c;
		}
	}
}
.content{
	padding-bottom: 30px;
	p,li,span,div{
		color:#57363f;
	}
	.central,
	.central .title,
	.central .titulo,
	.central .faq{
		position: relative;
		width: 100%;
		float: left;
	}
	.central{
		padding-top: 115px;
	}
	.central .title{
		padding-bottom: 50px;
	}
	.central .title h1{
		font-size: 35px;
	}

	.central .icone {

		float: left;
		/*margin-right: 15px;*/
	}

	.central .icone img {

		margin-right: 10px;
	}

	h2 {

		font-size: 30px;
		color: #9a1e24;
	}

	h3 {

		font-size:  18px;
		color: #9a1e24;
	}

	p {

		font-size: 18px;
	}

	.aplicativo {

		overflow: auto;
	}

	.contenido p a {

		color: inherit;
		font-family: humnst-bold;
		text-decoration: underline;
	}

	img.celulares {

		max-width: 100%;
		height: auto;

	}

	@media (max-width: 490px) {

		img.celulares {

			width: 100%;
		}
	}

	.botao-app {

		display: inline-block;
		width: 200px;
		text-align: center;
	}

}


