@import 'blog';
ul, ol{
	color: #7b7979;
    text-align: left;
    float: left;
    margin: 20px 0 50px;
}
figure{
	width:100%;
	height:400px;
	background-size:cover;
	background-position:50%;
}

.single{
	.compartilhamento{
		@extend section;
		margin: 10px 0 20px;
	}
	.one-atricle{
		float: left;
		width:100%;
		h2{
		    font-size: 37px;
		    float: left;
		    margin-bottom: 20px;
		    margin-top: 30px;
		    width:100%;
		    color:#042434;
		}
		h3{
		    font-size: 28px;
		    float: left;
		    width:100%;
		    color:#042434;
		}
		h4{
			font-size: 23px;
			float: left;
			width:100%;
			color:#042434;
		}
		p{
		    margin-bottom: 20px;
		}
		a{
			color:#042434;
		    font-weight: bold;
			&:hover{
				text-decoration: underline;
			}
		}
		.title{
			text-align: left;
		    margin-bottom: 0;
			font-size: 48px;
			color:#042434;
			@include MQ(991px){
				text-align: center;
		    }
		    @include MQ(768px){
		        font-size: 40px;
		    }
		}
		.name-data{
			float: left;
			width: 100%;
			color: #042434;
			margin:10px 0 55px;
			font-family:'Lato-Medium';
			.name-autor{
				display: inline-block;
			}
			.data{
				display: inline-block;
			}
			a{
				font-family:'Lato-Medium';
				font-weight: normal;
				&:hover{
					font-weight:bold;
				}
			}
		}
		.bx-img{
			background-position: 50%;
			background-size: cover;
		    margin-bottom: 70px;
			height: 350px;
			width: 100%;
			float: left;
		}
		.conteudo-blog{
		    float: left;
		    width: 100%;
		    position: relative;
            b,
            strong{
                color:#585858;
            }
            ul{
        	    list-style: none;
            	li{
            		position:relative;
            		&:before{
					    content: '';
					    color: #585858;
					    position: absolute;
					    left: -20px;
					    top: 8px;
					    width: 8px;
					    height: 8px;
					    border: 3px solid #d7d7d7;
					    border-radius: 50%;
            		}
            	}
            }
            .assi-post{
        	    margin-top: 80px;
            }
        }
	}
	.posts-rest{
		padding-left: 0;
		.title{
			text-align: left;
			font-size: 26px;
			@include MQ(991px){
				text-align: center;
			}
		}
	}
}
.box-autor{
	width: 100%;
    float: left;
    position: relative;
    background-image: url(../img/bg-autor-single.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 27px 50px 50px;
    height: 195px;
    max-width:850px;
    @include MQ(1321px){
	    background:none;
	    border:1px solid #6ab1df;
	    border-radius:10px;
        padding: 20px 20px 0;
        height: auto;
    }
	.thumbAuthorSingle2{
		width: 130px;
	    display: inline-block;
	    float: left;
        border-radius: 50%;
	    overflow: hidden;
	    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.42);
		img{
	        max-width: 100%;
	        height: auto;
	    }
	    @include MQ(630px){
			display: block;
		    float: none;
		    margin: 0 auto;
	    }
	}
    .bio{
	    float: left;
    	width: calc(100% - 130px);
    	padding-left:50px;
		@include MQ(630px){
	    	padding: 0;
		    width: 100%;
		    margin-top: 30px;
		}
    	a{
    		font-family: $font-bold;
    		color:#042434;
    	}
    	p{
	    	color:#042434;
	    	font-family:'Montserrat-UltraLight';
    	    font-size: 15px;
    	    margin-top: 10px;
    	}
    }
}
.compartilhamento{
	width: 100%;
	float: left;
}
