@import "variables";
@import "mixins";
@import "style";

.quem-somos{
	text-align: center;
    padding: 20px 0 25px;
	p{
	    font-size: 21px;
	    line-height: 31px;
	    @include MQ(medium){
		    font-size: 16px;
		    line-height: 25px;
	    }
	}
}
.title.black{
	color:#3f3f3f;
	font-family:$font-medium;
	font-size: 33px;
}
.numeros{
	background:#fcf9fb;
	padding: 30px 0 50px;
	.item{
		width: 25%;
		display: inline-block;
		float: left;
		text-align: center;
		.bx-group{
			display: inline-block;
		}
		.bx-image{
			width: 65px;
			display: inline-block;
			float: left;
		    padding-right: 10px;
			@include MQ(medium){
		    	width: 35px;
		    }
		}
		.bx-texto{
			float: left;
			display: inline-block;
		    width: calc(100% - 65px);
		    text-align: left;
		    @include MQ(medium){
			    width: calc(100% - 35px);
		    }
			.num{
				font-family: $font-medium;
				font-size:40px;
				color:$cor-destak;
				line-height: 100%;
			    width: 100%;
		        display: block;
			    @include MQ(medium){
					font-size:20px;
			    }
			}
			.texto{
				font-family: $font-light;
				color:#6f6f6f;
				line-height: 100%;
			    width: 100%;
		        display: block;
			    text-align: center;
			    @include MQ(medium){
		    	    font-size: 10px;
		    	    text-align: left;
			    }
			}
		}
	}
}

.clientes,.rede{
	padding:50px 0 70px;
	img{
	    margin: 80px auto 20px;
		max-width: 100%;
	    display: block;
	}
}
.rede{
	background:#fcf9fb;
}

.miss-vis-val{
	text-align: center;
    padding: 50px 0 45px;
    .col-xs-12{
    	padding-left: 50px;
    	padding-right: 50px;
    }
    .title{
	    margin-bottom: 30px;
	    font-size: 31px;
    }
    p{
		color:#6f6f6f;
	    font-size: 16px;
		font-family: $font-light;
    }
}

.chamada-netflix{
	background-image:url('../img/sobre-netflix.jpg');
	background-size:cover;
	background-position-y:100%;
    background-position-x: 50%;
	padding: 100px 0;
	text-align: center;
	.bx-svg-netflix{
	    margin: 50px auto;
	    position:relative;
	    @include MQ(large){
	    	max-width: 500px;
	    }
		.svg-netflix-verm{
			animation: efeitoNetflix 1s infinite alternate;

		}
		.svg-netflix-roxo{
			position: absolute;
			top: -5px;
			left: 5px;
			animation: efeitoNetflix 0.4s infinite alternate;
		}
		.svg-netflix-azul{
			position: absolute;
			top: -10px;
			left: 10px;
			animation: efeitoNetflix 0.04s infinite alternate;
			filter:drop-shadow(3px 1px 3px rgba(0, 191, 224, 1));
		}
	}
	p{
		color: #fff;
		font-family: $font-regular;
		margin-top: 40px;
	    font-size: 22px;
	}
}



