@import "variables";
@import "mixins";

.head-title{
    text-align: center;
    padding: 100px 0;
    background-size:cover;
    background-position-x:54%;
    background-position-y: 35%;
     @include MQ(large){
    	padding:100px 0 ;
    }
	.page-name{
		width: 100%;
		float: left;
	    h1,h2,.title-princ{
	    	color: #fff;
    	    font-size: 46px;
		    margin:0;
		    font-family: $font-regular;
		    @include MQ(large){
		    	font-size:37px;
		    }
	    }
	}
}
#breadcrumbs{
	color: #221510;
	text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 22px;
    i{
	    display: inline-block;
        vertical-align: middle;
	    margin-bottom: 5px;
    }
    span{
	    font-family: $font-medium;
	    font-size: 14px;
	    display: inline-block;
        line-height: 30px;
    }
	a{
		color: #221510;
	    font-family: $font-medium;
	    vertical-align: top;
	    font-size: 14px;
		&:hover{
		    text-shadow: 0 0 13px rgb(0, 0, 0);
		}
	}
}